img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

.inner-wrapper {
  margin: 0 100px 0 144px;
}
@media (max-width: 1200px) {
  .inner-wrapper {
    margin: 0 40px 0 84px;
  }
}
@media (max-width: 767px) {
  .inner-wrapper {
    margin: 0 5% 0 5%;
  }
}

.title-underline {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.button__type__transparent {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

.button__type__blue {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  background-color: #1140a6;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2"), url("/fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-Medium.woff2") format("woff2"), url("/fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2"), url("/fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2"), url("/fonts/Inter-ExtraBold.woff") format("woff");
}
.page {
  height: 100%;
  max-width: 1512px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

.header {
  height: 100vh;
  max-height: 832px;
  position: relative;
  background-color: #FFFFFF;
}

.header__content {
  position: absolute;
  z-index: 9;
  top: 28px;
  left: 144px;
  right: 100px;
  bottom: 60px;
  pointer-events: none;
}
@media (max-width: 1200px) {
  .header__content {
    left: 84px;
    right: 40px;
  }
}
@media (max-width: 767px) {
  .header__content {
    left: 5%;
    right: 5%;
    bottom: 30px;
  }
}

.header__navigation {
  pointer-events: all;
}

.header__column-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__services {
  pointer-events: all;
  margin-bottom: 51px;
}

.header__slider-controls {
  display: flex;
  justify-content: space-between;
  pointer-events: all;
}

.header__request-button {
  position: absolute;
  bottom: 0;
  right: 31%;
  transform: translate(-50%, 0%);
  padding: 0;
  width: 158px;
  height: 158px;
  min-width: 158px;
  min-height: 158px;
  pointer-events: all;
  order: 4;
  border: none;
  border-radius: 50%;
  background-color: #07286f;
  color: #ffffff;
}

.main-header {
  color: #ffffff;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.main-header__company {
  margin: auto 0;
  padding: 0;
  max-width: 15%;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1200px) {
  .main-header__company {
    max-width: 20%;
  }
}

.main-header__contacts {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
}

.main-header__number {
  margin: auto 0;
}

.main-header__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  margin: auto 0;
  padding: 0;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  list-style: none;
}

.navigation__item {
  margin: auto 0;
  padding: 20px 0 20px;
  width: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navigation__item__active {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.navigation__link {
  display: flex;
  align-items: center;
  margin: auto 0;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.5);
}

.navigation__link__current {
  color: #ffffff;
}

:root {
  --mask-bg: url(/img/intro/intro-pattern.png) repeat 0% 0%/14.9%;
  --linear-bg: linear-gradient(
      180deg, #000 0%,
      rgba(0, 0, 0, 0.00) 32.29%),
      rgba(0, 0, 0, 0.70
    );
}

.slide {
  height: 100vh;
  max-height: 832px;
  display: flex;
  flex-direction: column;
  padding-left: 144px;
  padding-bottom: 218px;
  justify-content: space-between;
  overflow: hidden;
  color: #ffffff;
  box-sizing: border-box;
}
.slide::before {
  content: "";
  box-sizing: border-box;
}
.slide--medical {
  background: url(/img/intro/intro-bg-01.jpg) no-repeat center, var(--mask-bg), var(--linear-bg);
  background-blend-mode: overlay;
}
.slide--blocks {
  background: url(/img/intro/intro-bg-02.jpg) no-repeat center, var(--mask-bg), var(--linear-bg);
  background-blend-mode: overlay;
}
.slide--oxygen {
  background: url(/img/intro/intro-bg-03.jpg) no-repeat center, var(--mask-bg), var(--linear-bg);
  background-blend-mode: overlay;
}
@media (max-width: 1200px) {
  .slide {
    padding-left: 84px;
  }
}
@media (max-width: 767px) {
  .slide {
    padding-left: 5%;
    padding-bottom: 188px;
  }
}

.slide__main-content {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.slide__subtitle {
  margin: 0 0 39px 0;
  padding: 0;
  order: 2;
  font-size: 100px;
  font-weight: 800;
  line-height: 1;
}
@media (max-width: 1512px) {
  .slide__subtitle {
    font-size: 6.61vw;
  }
}
@media (max-width: 767px) {
  .slide__subtitle {
    font-size: 9vw;
  }
}

.slide__tag {
  margin: 0 0 28px 0;
  padding: 6px 12px;
  width: -moz-min-content;
  width: min-content;
  order: 1;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.2;
  background-color: #07286f;
  border-radius: 100px;
}

.slide__description {
  margin: 0;
  padding: 0;
  order: 3;
  max-width: 54%;
  font-size: 16px;
  line-height: 1.6;
}

.slide-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.32);
}

.slide-navigation__item__active {
  color: #ffffff;
}

.slider-controls {
  display: flex;
  color: #ffffff;
}

.slider-controls__counter {
  display: flex;
  -moz-column-gap: 96px;
       column-gap: 96px;
  max-width: 135px;
}

.slider-controls__scrollbar {
  position: absolute;
  bottom: 15px;
  right: 166px;
  height: 2px;
  width: 70px;
  pointer-events: all;
}

.slider-controls__arrows {
  display: flex;
  align-items: center;
}
.slider-controls__arrows button {
  background-color: transparent;
  border: none;
}

.slider-controls__button {
  display: flex;
  align-items: center;
}

.swiper {
  min-width: 320px;
  max-width: 1512px;
  width: 100vw;
}

.swiper-pagination-current {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.swiper-pagination-total {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.63);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.swiper-scrollbar {
  height: 2px !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.21) !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: rgb(255, 255, 255) !important;
}

.about {
  margin: 0 0 -267px;
  padding: 39px 0;
  background-color: #07286f;
}

.about__container {
  height: 540px;
  background-image: url(/img/about/about-logo.svg);
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about__main-content {
  display: flex;
  justify-content: space-between;
  padding: 105px 0 0;
}

.about__subtitle {
  margin: 0;
  max-width: 40%;
  color: #ffffff;
  font-size: 72px;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 1512px) {
  .about__subtitle {
    font-size: 4.76vw;
  }
}
@media (max-width: 767px) {
  .about__subtitle {
    font-size: 7vw;
  }
}

.about__description {
  margin: 0;
  padding: 0;
  max-width: 50%;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.6;
}

.about__decoration {
  height: 267px;
}

.services {
  margin: 0 0 120px;
}

.services__title {
  position: relative;
  margin: 0 0 44px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.services__slider {
  display: flex;
  overflow: hidden;
}

.services__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 462px;
  max-height: 528px;
  border-radius: 40px;
  overflow: hidden;
}

.services__item-image {
  display: flex;
}

.setvices__item-desctription {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 21px 29px 23px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  background: rgba(216, 222, 236, 0.8);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.services__item-name {
  margin: 0;
  padding: 0;
  max-width: 65%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

.services__item-page {
  margin: 0;
  padding: 0;
  color: #767C88;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.reasons {
  margin-bottom: 135px;
  background-image: url(/img/reasons/reasons-logo.svg);
  background-position: 3% 33%;
  background-repeat: no-repeat;
  background-size: 368px;
}

.reasons__title {
  margin: 0 0 73px;
  color: #1140a6;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.reasons__content {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: space-between;
}

.reasons__column {
  width: 50%;
}

.reasons__column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reasons__main-subtitle {
  margin: 0 0 53px;
  padding: 0;
  max-width: 80%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
}
.reasons__main-subtitle span {
  color: #1140a6;
}

.reasons__main-description {
  margin: 0 0 57px;
  padding: 0;
  max-width: 63%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}

.reasons__link {
  width: -moz-min-content;
  width: min-content;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.reasons__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  list-style: none;
  border-radius: 20px;
  background: rgba(95, 104, 131, 0.05);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

.reasons__subtitle {
  margin: 0 0 17px;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.reasons__icon {
  order: -1;
  margin: 0 0 24px;
  width: 60px;
  height: 60px;
}

.reasons__description {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}

.ceo__container {
  margin: 0 0 0 144px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 656px;
  background-color: #07286f;
  color: #ffffff;
  border-radius: 40px 0 0 40px;
}

.ceo__column-left {
  position: absolute;
}

.ceo__photo {
  display: flex;
  width: 508px;
  height: 656px;
  border-radius: 40px 0 0 40px;
}
.ceo__photo img {
  -o-object-fit: cover;
     object-fit: cover;
}

.ceo__position {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 58px;
  bottom: 65px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.ceo__column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 100px 0 399px;
  padding: 41px 0 65px 0;
  z-index: 3;
}
@media (max-width: 1200px) {
  .ceo__column-right {
    margin-right: 40px;
  }
}
@media (max-width: 767px) {
  .ceo__column-right {
    margin-right: 5%;
  }
}

.ceo__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.ceo__quote-container {
  display: flex;
  padding: 0 0 0 235px;
  box-sizing: border-box;
  width: 100%;
}

.ceo__quote {
  position: relative;
  margin: 5px 0;
  width: 72%;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
}
.ceo__quote::before {
  content: "";
  background-image: url(/img/ceo/ceo-icon-quote.svg);
  position: absolute;
  top: -61px;
  left: -166px;
  height: 110px;
  width: 100px;
}
@media (max-width: 1300px) {
  .ceo__quote {
    max-width: 70%;
  }
}
.ceo__name {
  margin: 0;
  max-width: 70%;
  font-size: 72px;
  font-weight: 600;
  line-height: 1;
}

.feedback__container {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(/img/feedback/feedback-logo.svg);
  background-position: 45% 55%;
  background-repeat: no-repeat;
  background-size: 322px;
}

.feedback__column-left {
  width: 50%;
}

.feedback__subtitle {
  margin: 0 0 53px;
  width: 90%;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
}

.feedback__contacts {
  max-width: 390px;
  box-sizing: border-box;
}

.form__line-box {
  display: flex;
  justify-content: space-between;
  margin: 0 0 21px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.form__input {
  padding: 24px 0;
  width: 100%;
  color: #9CA0AE;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dcdce0;
}

.form__question {
  margin: 0 0 50px;
}

.form__lock-person {
  position: relative;
  padding: 0 0 0 31px;
  max-width: 39%;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
}
.form__lock-person::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(/img/feedback/feedback-icon-lock.svg);
}

.form__submit-button {
  border: none;
  color: #ffffff;
}

.contacts {
  padding: 53px;
  border-radius: 40px;
  background: #f7f7f9;
}

.contacts__description {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.contacts__link {
  color: #000000;
  text-decoration: none;
}

.contacts__phone {
  margin: 0 0 16px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
}

.contacts__mail {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.contacts__address {
  margin: 0 0 16px;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.contacts__map {
  margin: 0 0 55px;
  color: #1140a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.socials__list {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: flex;
  width: 18px;
  height: 18px;
  color: #000000;
  text-decoration: none;
}

.main-footer {
  background-color: #07286f;
}

.main-footer__container {
  padding: 53px 0 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__company {
  align-self: flex-start;
  width: 206px;
  height: 64px;
}
.main-footer__company a {
  margin: 0 0 42px;
}

.main-footer__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.main-footer__description {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.main-footer__contacts {
  display: flex;
  flex-direction: column;
}

.main-footer__phone {
  margin: 0 0 26px;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.main-footer__mail {
  margin: 0 0 89px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.main-footer__list {
  margin: 0 0 69px;
  padding: 0;
  list-style: none;
}

.main-footer__item {
  margin: 0 0 14px;
}
.main-footer__item:last-child {
  margin: 0;
}

.main-footer__copyrights {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}/*# sourceMappingURL=style.css.map */