@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
}
.page {
  height: 100%;
  max-width: 1512px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
}
.page.lock {
  overflow: hidden;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}
.page__body.lock {
  overflow: hidden;
}

.header {
  position: relative;
  height: 100vh;
  max-height: 832px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.header__slide-container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: flex-end;
  height: calc(100% - 60px);
}

.header__content {
  position: absolute;
  z-index: 9;
  top: 28px;
  left: 144px;
  right: 100px;
  bottom: 60px;
  pointer-events: none;
}
@media (max-width: 1200px) {
  .header__content {
    right: 40px;
  }
}

.header__navigation {
  pointer-events: all;
}

.header__column-left {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  max-height: 100%;
}

.header__column-right {
  display: flex;
  flex-direction: column;
  width: auto;
}

.header__services {
  pointer-events: all;
  margin-bottom: 51px;
}

.header__slider-controls {
  display: flex;
  justify-content: space-between;
  pointer-events: all;
}

.header__request-button {
  position: relative;
  padding: 0;
  align-self: flex-end;
  width: 158px;
  height: 158px;
  min-width: 158px;
  min-height: 158px;
  pointer-events: all;
  order: 4;
  border: none;
  border-radius: 50%;
  background-color: #07286f;
  color: #ffffff;
  cursor: pointer;
}
.header__request-button::after, .header__request-button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background-color: #ffffff;
}
.header__request-button::before {
  width: 40px;
  height: 2px;
  transform: translate(-50%, -50%);
}
.header__request-button::after {
  width: 2px;
  height: 40px;
  transform: translate(-50%, -50%);
}

.header__menu {
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 1512px;
}

.main-header {
  color: #ffffff;
  position: relative;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.main-header__company {
  margin: auto 0;
  padding: 0;
  max-width: 15%;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1200px) {
  .main-header__company {
    max-width: 20%;
  }
}

.main-header__contacts {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
}

.main-header__number {
  margin: auto 0;
}

.main-header__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  margin: auto 0;
  padding: 0;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  list-style: none;
}

.navigation__item {
  margin: auto 0;
  padding: 20px 0 20px;
  width: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navigation__item__active {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.navigation__link {
  display: flex;
  align-items: center;
  margin: auto 0;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.5);
}

.navigation__link__current {
  color: #ffffff;
}

:root {
  --mask-bg: url("../img/intro/intro-pattern.png") repeat 0% 0%/14.9%;
  --linear-bg: linear-gradient(
      180deg, #000 0%,
      rgba(0, 0, 0, 0.00) 32.29%),
      rgba(0, 0, 0, 0.70
    );
}

.slide {
  height: 100vh;
  max-height: 832px;
  display: flex;
  padding-top: 85px;
  padding-bottom: 60px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: #ffffff;
  box-sizing: border-box;
}
.slide--medical {
  background: url("../img/intro/intro-bg-01.jpg") no-repeat center, var(--mask-bg), var(--linear-bg);
  background-blend-mode: overlay;
}
.slide--blocks {
  background: url("../img/intro/intro-bg-02.jpg") no-repeat center, var(--mask-bg), var(--linear-bg);
  background-blend-mode: overlay;
}
.slide--oxygen {
  background: url("../img/intro/intro-bg-03.jpg") no-repeat center, var(--mask-bg), var(--linear-bg);
  background-blend-mode: overlay;
}

.slide__main-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 100%;
}

.slide__tag-container {
  margin-bottom: 34px;
  max-height: 30px;
}

.slide__title-container {
  margin-bottom: 39px;
  max-height: 200px;
}

.slide__description-container {
  max-height: 100px;
  max-width: 60%;
}

.slide__title {
  position: relative;
  padding: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.slide__title .anim-title {
  position: absolute;
  max-width: 100%;
}

.slide__tag {
  margin: 0;
  padding: 6px 12px;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.2;
  background-color: #07286f;
  color: #ffffff;
  border-radius: 100px;
}

.slide__subtitle {
  margin: 0;
  color: #ffffff;
}

.slide__description {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
}

.slide-navigation {
  margin-bottom: 51px;
}

.slide-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.slide-navigation__link {
  text-wrap: nowrap;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.32);
  transition: all 0.2s ease;
}
.slide-navigation__link__current {
  color: #ffffff;
  transition: all 0.2s ease;
}

.slider-controls {
  display: flex;
  color: #ffffff;
}

.slider-controls__counter__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 135px;
}

.slider-controls__counter {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 135px;
}

.slider-controls__scrollbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 25px;
  min-width: 0;
  pointer-events: all;
}

.slider-controls__arrows {
  display: flex;
  align-items: center;
}
.slider-controls__arrows button {
  background-color: transparent;
  border: none;
}

.slider-controls__button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.swiper {
  max-width: 1512px;
}
.swiper.mainSwiper-tag {
  width: 100%;
  max-height: 100%;
}
.swiper.mainSwiper-title {
  max-height: 100%;
}
.swiper.mainSwiper-description {
  max-height: 100%;
}
.swiper.servicesSwiper {
  padding-left: 144px;
  width: 100vw;
  box-sizing: border-box;
}

.swiper-pagination-current {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.swiper-pagination-total {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.63);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.swiper-scrollbar-horizontal {
  height: 2px !important;
  width: 70px !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.21) !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: rgb(255, 255, 255) !important;
}

.mainSwiper-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 200px;
  max-width: 100%;
}
.main-content {
  position: relative;
}

.side-bar {
  position: fixed;
  top: 0;
  margin-left: -1px;
  width: 101px;
  height: 100vh;
  z-index: 20;
  pointer-events: all;
  background-color: #ffffff;
  transition: all 0.2s ease;
}
.side-bar.theme-transparent {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: transparent;
  transition: all 0.2s ease;
}
.side-bar.theme-transparent path {
  fill: white;
  transition: all 0.2s ease;
}
.side-bar.theme-blue {
  background-color: #07286f;
  transition: all 0.2s ease;
}

.side-bar__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 24px;
  box-sizing: border-box;
  height: 100%;
  z-index: 20;
}

.side-bar__link {
  text-decoration: none;
}

.side-bar__logo {
  width: 52px;
  height: 55px;
  fill: #07286F;
  transition: all 0.2s ease;
}
.side-bar__logo.theme-transparent path {
  fill: white;
  transition: all 0.2s ease;
}
.side-bar__logo.theme-blue path {
  fill: white;
  transition: all 0.2s ease;
}

.side-bar__middle {
  position: relative;
}

.side-bar__burger-menu {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  cursor: pointer;
  background-color: rgba(7, 40, 111, 0.07);
  transition: all 0.2s ease;
  z-index: 20;
}
.side-bar__burger-menu:hover:not(.theme-blue) {
  rotate: -45deg;
  transition: all 0.2s ease;
}
.side-bar__burger-menu::after, .side-bar__burger-menu::before {
  width: 20px;
  height: 2px;
  background-color: #07286f;
}
.side-bar__burger-menu.theme-transparent {
  background-color: rgb(25, 30, 40);
}
.side-bar__burger-menu.theme-transparent::after, .side-bar__burger-menu.theme-transparent::before {
  background-color: #ffffff;
  transition: all 0.2s ease;
}
.side-bar__burger-menu.theme-blue {
  background: rgb(17, 64, 166);
  transition: all 0.2s ease;
}
.side-bar__burger-menu.theme-blue::after, .side-bar__burger-menu.theme-blue::before {
  background-color: #ffffff;
  transition: all 0.2s ease;
}
.side-bar__burger-menu.theme-blue::after {
  rotate: 45deg;
  bottom: 22px;
  transition: all 0.2s ease;
}
.side-bar__burger-menu.theme-blue::before {
  rotate: -45deg;
  top: 24px;
  transition: all 0.2s ease;
}
.side-bar__burger-menu::after {
  position: absolute;
  content: "";
  bottom: 19px;
  left: 14px;
  transition: all 0.2s ease;
}
.side-bar__burger-menu::before {
  position: absolute;
  content: "";
  top: 19px;
  left: 14px;
  transition: all 0.2s ease;
}

.side-bar__span {
  height: 2px;
  display: block;
}

.side-bar__language {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.2s ease;
}
.side-bar__language.theme-transparent {
  color: rgb(62, 68, 80);
  transition: all 0.2s ease;
}
.side-bar__language.theme-blue {
  color: rgb(77, 101, 151);
  transition: all 0.2s ease;
}

.language {
  margin: 10px 0;
}

.language__ru {
  padding: 0;
  cursor: pointer;
}

.language__switch {
  position: relative;
  width: 24px;
  height: 38px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  background-color: rgb(236, 238, 243);
}
.language__switch.theme-transparent {
  transition: 0.2s;
  background-color: rgb(50, 57, 71);
}
.language__switch.theme-blue {
  transition: 0.2s;
  background-color: rgb(28, 61, 131);
}

.language__position {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 0.2s;
  background-color: #07286f;
}
.language__position.theme-transparent {
  transition: 0.2s;
  background-color: #ffffff;
}
.language__position.theme-blue {
  transition: 0.2s;
  background-color: #ffffff;
}
.language__position__uz {
  transform: translate(-50%, 60%);
}

.language__uz {
  padding: 0;
  cursor: pointer;
}

.language__current {
  transition: 0.2s;
  color: #07286f;
}
.language__current.theme-transparent {
  transition: 0.2s;
  color: #ffffff;
}
.language__current.theme-blue {
  transition: 0.2s;
  color: #ffffff;
}

.menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}

.menu__mask {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #07286f;
  transform: scale(0.1);
  transition: transform 0.4s ease 0.2s;
  z-index: 9;
}
.menu__mask.theme-transparent {
  top: 35%;
  left: -30%;
}
.menu__mask.activated {
  background-color: #07286f;
  opacity: 1;
  transform: scale(50);
  transition: opacity 1s ease 2s;
  transition: transform 0.8s ease;
}

.menu__container {
  position: relative;
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
  padding: 203px 121px;
  box-sizing: border-box;
  transition: transform 0.4s ease 0.2s;
  pointer-events: all;
  z-index: 10;
}
.menu__container.deactivated {
  transform: translate(-250%, 0%);
  transition: transform 0.8s ease;
}

.menu__list {
  list-style: none;
  padding: 0;
}

.menu__nav-list {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
}

.menu__nav-item {
  margin-bottom: 35px;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
}

.menu__info {
  margin-bottom: 52px;
}

.menu__info-list {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.menu__info-item {
  margin-bottom: 14px;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
}

.menu__phone {
  color: #ffffff;
}

.about {
  margin: 0 0 -467px;
  padding: 39px 0;
  background-color: #07286f;
}

.about__container {
  height: 540px;
  background-image: url("../img/about/about-logo.svg");
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about__main-content {
  display: flex;
  justify-content: space-between;
  padding: 105px 0 0;
}

.about__subtitle {
  margin: 0;
  max-width: 40%;
  color: #ffffff;
}

.about__description {
  margin: 0;
  padding: 0;
  max-width: 50%;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.6;
}

.about__decoration {
  height: 467px;
}

.services {
  margin: 0 0 120px;
  overflow: hidden;
}

.services__title {
  position: relative;
  margin: 0 0 44px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.services__slider {
  overflow: hidden;
}

.services__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 462px;
  max-height: 528px;
  border-radius: 40px;
  overflow: hidden;
}

.services__item {
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.services__item-image {
  display: flex;
}

.setvices__item-desctription {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 21px 29px 23px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 110px;
  overflow: hidden;
  background: rgba(216, 222, 236, 0.8);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.services__item-name {
  margin: 0;
  padding: 0;
  max-width: 90%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}

.services__item-page {
  margin: 0;
  padding: 0;
  color: #767C88;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.reasons {
  margin-bottom: 135px;
  background-image: url("../img/reasons/reasons-logo.svg");
  background-position: 3% 33%;
  background-repeat: no-repeat;
  background-size: 368px;
}

.reasons__title {
  margin: 0 0 73px;
  color: #1140a6;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.reasons__content {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  justify-content: space-between;
}

.reasons__column {
  width: 50%;
}

.reasons__column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reasons__main-subtitle {
  margin: 0 0 53px;
  padding: 0;
  max-width: 80%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
}
.reasons__main-subtitle span {
  color: #1140a6;
}

.reasons__main-description {
  margin: 0 0 57px;
  padding: 0;
  max-width: 63%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
}

.reasons__link {
  width: -moz-min-content;
  width: min-content;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

.reasons__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.reasons__item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  list-style: none;
  border-radius: 20px;
  background: rgba(95, 104, 131, 0.05);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

.reasons__subtitle {
  margin: 0 0 17px;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.reasons__icon {
  order: -1;
  margin: 0 0 24px;
  width: 60px;
  height: 60px;
}

.reasons__description {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}

.ceo__container {
  margin: 0 0 0 144px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #07286f;
  color: #ffffff;
  border-radius: 40px 0 0 40px;
}

.ceo__column-left {
  width: auto;
  min-width: 40%;
}

.ceo__photo {
  display: flex;
  position: relative;
  height: 656px;
}
.ceo__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  border-radius: 40px 0 0 40px;
}

.ceo__position {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 58px;
  bottom: 65px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.ceo__column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 41px 100px 65px 0;
  margin-left: -109px;
  z-index: 3;
}

.ceo__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}

.ceo__quote-container {
  display: flex;
  padding: 0 0 0 235px;
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 1000px) {
  .ceo__quote-container {
    padding: 0 0 0 165px;
  }
}

.ceo__quote {
  position: relative;
  margin: 5px 0;
  max-width: 72%;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
}
.ceo__quote::before {
  content: "";
  background-image: url("../img/ceo/ceo-icon-quote.svg");
  position: absolute;
  top: -61px;
  left: -166px;
  height: 110px;
  width: 100px;
}
@media (max-width: 1000px) {
  .ceo__quote::before {
    left: -96px;
  }
}
@media (max-width: 1300px) {
  .ceo__quote {
    max-width: 100%;
  }
}
.ceo__name {
  margin: 0;
  max-width: 70%;
}

.feedback__container {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/feedback/feedback-logo.svg");
  background-position: 45% 55%;
  background-repeat: no-repeat;
  background-size: 322px;
}

.feedback__column-left {
  width: 50%;
}

.feedback__subtitle {
  margin: 0 0 53px;
  width: 90%;
}

.feedback__contacts {
  max-width: 390px;
  box-sizing: border-box;
}

.form__line-box {
  display: flex;
  justify-content: space-between;
  margin: 0 0 21px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.form__input {
  padding: 24px 0;
  width: 100%;
  color: #9CA0AE;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dcdce0;
}

.form__question {
  margin: 0 0 50px;
}

.form__lock-person {
  position: relative;
  padding: 0 0 0 31px;
  max-width: 39%;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
}
.form__lock-person::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../img/feedback/feedback-icon-lock.svg");
}

.form__submit-button {
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.contacts {
  padding: 53px;
  border-radius: 40px;
  background: #f7f7f9;
}

.contacts__description {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.contacts__link {
  color: #000000;
  text-decoration: none;
}
.contacts__link__white {
  color: #ffffff;
}

.contacts__phone {
  margin: 0 0 16px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
}

.contacts__mail {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.contacts__address {
  margin: 0 0 16px;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.contacts__map {
  margin: 0 0 55px;
  color: #1140a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
.contacts__map__white {
  color: #ffffff;
}

.socials__list {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: flex;
  width: 18px;
  height: 18px;
  color: #000000;
  text-decoration: none;
}
.socials__link__white svg path {
  fill: white;
}

.main-footer {
  background-color: #07286f;
}

.main-footer__container {
  padding: 53px 0 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__company {
  align-self: flex-start;
  width: 206px;
  height: 64px;
}
.main-footer__company a {
  margin: 0 0 42px;
}

.main-footer__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.main-footer__description {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.main-footer__contacts {
  display: flex;
  flex-direction: column;
}

.main-footer__phone {
  margin: 0 0 26px;
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.main-footer__mail {
  margin: 0 0 89px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.main-footer__list {
  margin: 0 0 69px;
  padding: 0;
  list-style: none;
}

.main-footer__item {
  margin: 0 0 14px;
}
.main-footer__item:last-child {
  margin: 0;
}

.main-footer__copyrights {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

.inner-wrapper {
  padding-left: 144px;
  padding-right: 100px;
}
@media (max-width: 1200px) {
  .inner-wrapper {
    padding-right: 40px;
  }
}

.main-title {
  font-size: 100px;
  font-weight: 800;
  line-height: 1;
}
@media (max-width: 1512px) {
  .main-title {
    font-size: 6.61vw;
  }
}
@media (max-width: 767px) {
  .main-title {
    font-size: 9vw;
  }
}

.title {
  font-size: 72px;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 1512px) {
  .title {
    font-size: 4.76vw;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 7vw;
  }
}

.subtitle {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
}

.title-underline {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.button__type__transparent {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

.button__type__blue {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  background-color: #1140a6;
}/*# sourceMappingURL=style.css.map */