// Global
@import "global/variables";
@import "global/fonts";

// Blocks
@import "blocks/page";
@import "blocks/header";
@import "blocks/main-header";
@import "blocks/navigation";
@import "blocks/slide";
@import "blocks/slide-navigation";
@import "blocks/slider-controls";
@import "blocks/swiper";
@import "blocks/main-content";
@import "blocks/side-bar";
@import "blocks/language";
@import "blocks/menu";
@import "blocks/about";
@import "blocks/services";
@import "blocks/reasons";
@import "blocks/ceo";
@import "blocks/quote";
@import "blocks/feedback";
@import "blocks/form";
@import "blocks/contacts";
@import "blocks/socials";
@import "blocks/footer";

@import "blocks/bread-crumbs";
@import "blocks/quote-about";
@import "blocks/about-company";
@import "blocks/stats";
@import "blocks/mission";
@import "blocks/cover";
@import "blocks/operational-blocks";
@import "blocks/request-block";
@import "blocks/blank";

// Global
@import "global/global";
