// Global
@import "global/variables";
@import "global/global";
@import "global/fonts";

// Blocks
@import "blocks/page";
@import "blocks/header";
@import "blocks/main-header";
@import "blocks/navigation";
@import "blocks/slide";
@import "blocks/slider-controls";
@import "blocks/swiper";
@import "blocks/main-content";
@import "blocks/about";
@import "blocks/services";
@import "blocks/reasons";
@import "blocks/ceo";
@import "blocks/feedback";
@import "blocks/form";
@import "blocks/contacts";
@import "blocks/socials";
@import "blocks/footer";
