img {
  width: 100%;
  // max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

// .inner-wrapper {
//   margin: 0 100px 0 144px;

//   @media (max-width: 1200px) {
//     margin: 0 40px 0 84px;
// 	}
// 	@media (max-width: 767px) {
//     margin: 0 5% 0 5%;
// 	}
// }

.inner-wrapper {
  padding-left:144px;
  padding-right: 100px;
  @media (max-width: 1200px) {
    padding-right: 40px;
	}
  @media (max-width: 700px) {
    padding-left: 60px;
    padding-right: 60px;
	}
  @media (max-width: 500px) {
    padding-left: 30px;
    padding-right: 30px;
	}
}

.main-title {
  font-size: 100px;
  font-weight: 800;
  line-height: 1.0;

  @media (max-width: 1512px) {
    // Шрифт подстраивается под ширину экрана
    font-size: 6.61vw; // Значение при котором font-size:100px при ширине экрана 1512px
  }
  @media (max-width: 900px) {
    // Шрифт подстраивается под ширину экрана
    font-size: 8vw; // Увеличиваем значение, чтобы шрифт не был мелким
  }
}
.title {
  font-size: 72px;
  font-weight: 600;
  line-height: 1.0;

  @media (max-width: 1512px) {
    // Шрифт подстраивается под ширину экрана
    font-size: 4.76vw; // Значение при котором font-size:72px при ширине экрана 1512px
  }
  @media (max-width: 767px) {
    // Шрифт подстраивается под ширину экрана
    font-size: 6vw; // Увеличиваем значение, чтобы шрифт не был мелким
  }
}
.subtitle {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
  @media (max-width: 767px) {
    // Шрифт подстраивается под ширину экрана
    font-size: 5vw; // Увеличиваем значение, чтобы шрифт не был мелким
  }
}

.title-underline {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  @media (max-width: 700px) {
    padding-bottom: 10px;
  }
}

.description {
  @media (max-width: 700px) {
    font-size: 18px;
  }
}

.button__type__transparent {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

.button__type__blue {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  background-color: $blue;
}
