img {
  width: 100%;
  // max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
}

.inner-wrapper {
  margin: 0 100px 0 144px;

  @media (max-width: 1200px) {
    margin: 0 40px 0 84px;
	}
	@media (max-width: 767px) {
    margin: 0 5% 0 5%;
	}
}

.title-underline {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.button__type__transparent {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

.button__type__blue {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  border-radius: 100px;
  background-color: $blue;
}
