// Colors bg
$main-bg-1: rgba(17, 64, 166, 1);
$main-bg-2: rgba(7, 40, 111, 1);
$main-bg-3: rgba(255, 255, 255, 1);
$main-bg-4: rgba(0, 0, 0, 1);

$info-bg-1: rgba(247, 247, 249, 1);
$info-bg-2: rgba(247, 247, 249, 0.9);

$cards-bg-1: rgba(216, 222, 236, 0.8);
$cards-bg-2: rgba(95, 104, 131, 0.05);

$button-bg-1: rgba(7, 40, 111, 1);
$button-bg-2: rgba(17, 64, 166, 1);
$button-bg-3: rgba(255, 255, 255, 0.1);
$button-bg-4: rgba(255, 255, 255, 1);
$button-bg-5: rgba(255, 255, 255, 0.24);

$burger-bg-1: rgba(25, 30, 40, 1);
$burger-bg-2: rgba(7, 40, 111, 0.07);

$switch-bg-1: rgba(50, 57, 71, 1);
$switch-bg-2: rgba(236, 238, 243, 1);
$switch-bg-3: rgba(28, 61, 131, 1);
$switch-bg-4: rgba(7, 40, 111, 1);

$pagination-bg-1: rgba(255, 255, 255, 0.21);

$underline-bg-1: rgba(255, 255, 255, 0.13);


// Colors text
$main-text-1: rgba(0, 0, 0, 1);
$main-text-2: rgba(255, 255, 255, 1);

$span-text-1: rgba(17, 64, 166, 1);
$span-text-2: rgba(7, 40, 111, 1);

$inactive-text-1: rgba(255, 255, 255, 0.5);
$inactive-text-2: rgba(255, 255, 255, 0.32);
$inactive-text-3: rgba(255, 255, 255, 0.63);
$inactive-text-4: rgba(118, 124, 136, 1);

$address-text-1: rgba(137, 137, 137, 1);
$address-text-2: rgba(84, 107, 157, 1);

$placeholder-text-1: rgba(156, 160, 174, 1);
$placeholder-text-2: rgba(255, 255, 255, 1);

$switch-text-1: rgba(255, 255, 255, 1);
$switch-text-2: rgba(7, 40, 111, 1);
$switch-text-3: rgba(62, 68, 80, 1);
$switch-text-4: rgba(0, 0, 0, 0.5);
$switch-text-5: rgba(77, 101, 151, 1);

$hover-text-1: rgba(117, 138, 183, 1); // #758AB7;


// Buttons size
$request-button-desktop: 158px;
$request-button-tablet: 120px;
$request-button-mobile: 80px;
