.about {
  padding: 39px 15px;
  background-color: $dark-blue;
}
.about__container {
  margin: 0 calc(100px - 15px) 0 calc(144px - 15px); //С учётом padding .about
  height: 540px;
  background-image: url(/img/about/about-logo.svg);
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 1200px) {
    margin: 0 calc($right1200 - 15px) 0 calc($left1200 - 15px); //С учётом padding .about
		// left: 84px;
		// right: 40px;
	}

	@media (max-width: 767px) {
    margin: 0 calc($right767 - 15px) 0 calc($left767 - 15px); //С учётом padding .about
		// left: 5%;
		// right: 5%;
		// bottom: 30px;
	}
}
.about__main-content {
  display: flex;
  justify-content: space-between;
  padding: calc(120px - 15px) 0 0;
}
.about__subtitle {
  margin: 0;
  max-width: 40%;
  color: $white;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.0;

  @media (max-width: 1512px) {
    // Шрифт подстраивается под ширину экрана
    font-size: 4.76vw; // Значение при котором font-size:72px при ширине экрана 1512px
  }
  @media (max-width: 767px) {
    // Шрифт подстраивается под ширину экрана
    font-size: 7vw; // Увеличиваем значение, чтобы шрифт не был мелким
  }
}
.about__description {
  margin: 0;
  padding: 0;
  max-width: 50%;
  color: $white;
  font-size: 24px;
  line-height: 1.6;
}
