.about-company {
  margin-bottom: 120px;
  color: $black;
  @media (max-width: 700px) {
    margin-bottom: 60px;
  }
  @media (max-width: 500px) {
    margin-bottom: 40px;
  }
}

.about-company__container {
  display: flex;
  column-gap: 50px;

  @media (max-width: 1100px) {
    flex-direction: column;;
  }
}

.about-company__column-left {
  display: flex;
  flex-direction: column;
  width: 45%;
  @media (max-width: 1100px) {
    width: 100%;
  }
}

.about-company__subtitle-main {
  margin: 0 0 60px;
  @media (max-width: 500px) {
    margin-bottom: 40px;
  }
}

.about-company__image {
  @media (max-width: 1100px) {
    display: none;
  }
  img {
    object-fit: cover;
    background-size: cover;
  }
}

.about-company__column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  @media (max-width: 1100px) {
    position: relative;
    width: 100%;
  }
}

.about-company__backgroud-image {
  @media (max-width: 1100px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/about-company/about-company-image.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.1;
    z-index: -1;
  }
}

.about-company__description {
  margin: 0 0 80px;
  @media (max-width: 700px) {
    margin: 0 0 40px;
  }
}

.about-company__statistics {
  margin: 0 0 100px;
  @media (max-width: 700px) {
    margin: 0 0 40px;
  }
}
