.about {
  margin: 0 0 -467px;
  padding: 39px 0;
  background-color: $dark-blue;
  @media (max-width: 400px) {
    margin: 0 0 -200px;
  }
}

.about__container {
  height: 540px;
  background-image: url("../img/about/about-logo.svg");
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 400px) {
    height: 100%;
  }
}

.about__main-content {
  display: flex;
  justify-content: space-between;
  padding: calc(120px - 15px) 0 0;
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 50px 0 0;
  }
  @media (max-width: 400px) {
    padding: 0;
  }
}

.about__subtitle {
  margin: 0;
  &__white {
    max-width: 40%;
    color: $white;
    @media (max-width: 900px) {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }
  &__black {
    color: $black;
  }
}

.about__description {
  font-size: 24px;
  line-height: 1.6;
  &__white {
    margin: 0;
    padding: 0;
    max-width: 50%;
    color: $white;
    @media (max-width: 900px) {
      max-width: 100%;
    }
  }
  &__black {
    color: $black;
  }
}

.about__decoration {
  height: 467px;
  @media (max-width: 400px) {
    height: 200px;
  }
}
