.ceo {
}
.ceo__container {
  margin: 0 0 0 144px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 656px;
  background-color: $dark-blue;
  color: $white;
  border-radius: 40px 0 0 40px;
}
.ceo__title {
}
.ceo__column-left {
  position: absolute;
}
.ceo__photo {
  display: flex;
  width: 508px;
  height: 656px;
  border-radius: 40px 0 0 40px;

  img {
    object-fit: cover;
  }
}
.ceo__position {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 58px;
  bottom: 65px;
  color: rgba(255, 255, 255, 0.50);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
}
.ceo__column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 100px 0 calc(508px - 109px);
  padding: 41px 0 65px 0;
  z-index: 3;

  @media (max-width: 1200px) {
    margin-right: 40px;
	}
	@media (max-width: 767px) {
    margin-right: 5%;
	}
}
.ceo__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
}
.ceo__quote-container {
  display: flex;
  padding: 0 0 0 calc(126px + 109px);
  box-sizing: border-box;
  width: 100%;
}
.ceo__quote {
  // margin: 0 0 0 calc(109px);
  position: relative;
  margin: 5px 0;
  width: 72%;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;

  &::before {
    content: '';
    background-image: url(img/ceo/ceo-icon-quote.svg);
    position: absolute;
    top: -61px;
    left: -166px;
    height: 110px;
    width: 100px;
    // background-color: red;
  }

  @media (max-width: 1300px) {
    max-width: 70%;
	}
	@media (max-width: 767px) {
	}
}
.ceo__name {
  margin: 0;
  max-width: 70%;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.0;
}
