.ceo {
}
.ceo__container {
  margin: 0 0 0 144px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: $dark-blue;
  color: $white;
  border-radius: 40px 0 0 40px;
}
.ceo__title {
}
.ceo__column-left {
  width: auto;
  min-width: 40%;
}
.ceo__photo {
  display: flex;
  position: relative;
  height: 656px;

  img {
    object-fit: cover;
    background-size: cover;
    border-radius: 40px 0 0 40px;
  }
}
.ceo__position {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 58px;
  bottom: 65px;
  color: rgba(255, 255, 255, 0.50);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
}
.ceo__column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 41px 100px 65px 0;
  margin-left: -109px;
  z-index: 3;
}
.ceo__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
}
.ceo__quote-container {
  padding: 0 0 0 calc(126px + 109px);
}
.ceo__name {
  margin: 0;
  max-width: 70%;
}
