.contacts {
  display: flex;
  flex-direction: column;
  padding: 53px;
  align-items: flex-start;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: $info-bg-1;
  @media (max-width: 800px) {
    padding: 30px;
  }
}

.contacts__description {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  @media (max-width: 1000px) {
    width: 65%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
  &__main {
  }
}

.contacts__description__pop-up {
  @media (max-width: 400px) {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.contacts__link {
  color: $main-text-1;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: underline;
    transition: all 0.2s ease;
  }

  &__white {
    color: $main-text-2;
  }
}

.contacts__phone {
  margin: 0 0 16px;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.contacts__phone__pop-up {
  @media (max-width: 400px) {
    margin: 0 0 10px;
  }
}

.contacts__mail {
  margin: 0 0 16px;
  padding-left: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;
    width: 24px;
    height: 24px;
    background-image: url("../img/contacts/contacts-icon-letter.svg");
    background-repeat: no-repeat;
  }
}

.contacts__mail__white {
  margin: 0 0 16px;
  padding-left: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;
    width: 24px;
    height: 24px;
    background-image: url("../img/contacts/contacts-icon-letter-white.svg");
    background-repeat: no-repeat;
  }
}

.contacts__mail__pop-up {
  @media (max-width: 400px) {
    margin: 0 0 10px;
  }
}

.contacts__address {
  margin: 0 0 16px;
  color: $address-text-1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  &.menu__address {
    color: $address-text-2;
  }
}

.contacts__address__pop-up {
  @media (max-width: 400px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

.contacts__map {
  margin: 0 0 55px;
  color: $span-text-1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  @media (max-width: 950px) {
    margin: 0 0 30px;
  }
  @media (max-width: 700px) {
    margin: 0 0 20px;
  }
  @media (max-width: 550px) {
    margin: 0 0 15px;
  }

  &__white {
    color: $main-text-2;
    transition: all 0.2s ease;

    &:hover {
      text-decoration: underline;
      transition: all 0.2s ease;
      }
  }
}

.contacts__map__pop-up {
  @media (max-width: 400px) {
    margin: 0 0 10px;
  }
}
