.contacts {
  padding: 53px;
  border-radius: 40px;
  background: $light-grey;
  @media (max-width: 800px) {
    padding: 30px;
  }
}
.contacts__description {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  @media (max-width: 1000px) {
    width: 65%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
  &__main {
  }
}
.contacts__description__pop-up {
  @media (max-width: 400px) {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.4;
  }
}
.contacts__link {
  color: $black;
  text-decoration: none;

  &__white {
    color: $white;
  }
}
.contacts__phone {
  margin: 0 0 16px;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  @media (max-width: 500px) {
    font-size: 20px;
  }
}
.contacts__phone__pop-up {
  @media (max-width: 400px) {
    margin: 0 0 10px;
  }
}
.contacts__mail {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
.contacts__mail__pop-up {
  @media (max-width: 400px) {
    margin: 0 0 10px;
  }
}
.contacts__address {
  margin: 0 0 16px;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
.contacts__address__pop-up {
  @media (max-width: 400px) {
    font-size: 14px;
    line-height: 1.4;
  }
}
.contacts__map {
  margin: 0 0 55px;
  color: $blue;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  &__white {
    color: $white;
  }
}
.contacts__map__pop-up {
  @media (max-width: 400px) {
    margin: 0 0 10px;
  }
}
.contacts__socials {
}
