.feedback {
}
.feedback__pop-up {
  padding: 40px 100px;
  @media (max-width: 800px) {
    padding: 40px 40px;
  }
}
.feedback__container {
  padding: 120px 0;
  display: flex;
  column-gap: 40px;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/feedback/feedback-logo.svg");
  background-position: 45% 55%;
  background-repeat: no-repeat;
  background-size: 322px;

  @media (max-width: 1100px) {
    background-position: 35% 55%;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    row-gap: 60px;
    background-position: 50% 28%;
  }
  @media (max-width: 700px) {
    margin: 0 0 60px;
    padding: 0;
  }
  @media (max-width: 600px) {
    margin: 0 0 10px;
  }
}

.feedback__container__pop-up {
  padding: 40px;
  background-image: url("../img/feedback/feedback-logo-popup.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 1200px) {
    padding-right: 40px;
  }
  @media (max-width: 600px) {
    row-gap: 30px;
  }
  // @media (max-width: 1060px) {
  //   flex-direction: column;
  //   row-gap: 80px;
  // }
}

.feedback__column-left {
  width: 50%;
  @media (max-width: 1000px) {
    width: 100%;
  }
}
.feedback__subtitle {
  margin: 0 0 53px;
  width: 90%;
  @media (max-width: 1100px) {
    width: 100%;
  }
  @media (max-width: 1000px) {
    margin: 0 0 30px;
  }
}
.feedback__subtitle__pop-up {
  color: $white;
}
.feedback__form {
}
.feedback__column-right {
}
.feedback__contacts {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  box-sizing: border-box;
  @media (max-width: 1000px) {
    max-width: 100%;
  }
}
