.form {
}
.form__line-box {
  display: flex;
  justify-content: space-between;
  margin: 0 0 21px;
  column-gap: 24px;
  @media (max-width: 1100px) {
    flex-direction: column;
    margin: 0;
  }
  @media (max-width: 1000px) {
    flex-direction: row;
    margin: 0 0 21px;
  }
  @media (max-width: 800px) {
    flex-direction: column;
    margin: 0;
  }
}
.form__input {
  padding: 24px 0;
  width: 100%;
  color: #9CA0AE;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dcdce0;
  /* Современные браузеры */
  &::placeholder {color: #9CA0AE;}
  /* WebKit, Edge */
  &::-webkit-input-placeholder {color: #9CA0AE;}
  /* Edge */
  &::-ms-input-placeholder {color: #9CA0AE;}
  /* Firefox 4-18 */
  &:-moz-placeholder {color: #9CA0AE;opacity: 1;}
  /* Firefox 19+ */
  &::-moz-placeholder {color: #9CA0AE;opacity: 1;}
  /* IE 10-11 */
  &:-ms-input-placeholder {color: #9CA0AE;}

  @media (max-width: 1100px) {
    margin: 0 0 21px;
  }
  @media (max-width: 1000px) {
    margin: 0;
  }
  @media (max-width: 800px) {
    margin: 0 0 21px;
  }
}

.form__input__pop-up {
  color: $white;
  /* Современные браузеры */
  &::placeholder {color: $white;}
  /* WebKit, Edge */
  &::-webkit-input-placeholder {color: $white;}
  /* Edge */
  &::-ms-input-placeholder {color: $white;}
  /* Firefox 4-18 */
  &:-moz-placeholder {color: $white;opacity: 1;}
  /* Firefox 19+ */
  &::-moz-placeholder {color: $white;opacity: 1;}
  /* IE 10-11 */
  &:-ms-input-placeholder {color: $white;}
}
.form__name {
}
.form__phone {
}
.form__question {
  margin: 0 0 50px;
}
.form__lock-person {
  position: relative;
  padding: 0 0 0 31px;
  max-width: 39%;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("../img/feedback/feedback-icon-lock.svg");
  }
}
.form__lock-person__pop-up {
  color: $white;

  &::before {
    background-image: url("../img/feedback/feedback-icon-lock-popup.svg");
  }
}

.form__submit-button {
  border: none;
  color: $white;
  cursor: pointer;
}
