.header__page {
  &__main-page {
    position: relative;
    height: 100vh;
    max-height: 832px;
    background-color: $main-bg-3;
  }
  &__pages {
    margin-bottom: 146px;
    padding: 28px 0 108px;
    background-color: $main-bg-2;
    overflow: hidden;
    @media (max-width: 700px) {
      margin-bottom: 60px;
      padding: 28px 0 40px;
    }
    @media (max-width: 500px) {
      margin-bottom: 40px;
    }
  }
  &__services {
    margin-bottom: calc(-420px + 40px); // (Отступ между Header и слайдами по макету) + (Отступ между Header и Services по макету)
  }
  &__operational-blocks {
    margin-bottom: 0;
  }
  &__contacts {
    margin-bottom: 0;
  }
  &__blank {
    margin-bottom: 0;
  }
}

.header__slider {
  width: 100vw;
}

.header__content__pages {
  display: flex;
  flex-direction: column;
  color: $main-text-2;
}

.header__main-title {
  margin: 0;
  order: 2;
}

.header__bread-crumbs {
  order: 1;
}

.header__slide-container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: flex-end;
  height: calc(100% - 60px);

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    row-gap: 50px;
  }
}

.header__content__main-page {
  position: absolute;
  z-index: 9;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 60px;
  pointer-events: none;

  @media (max-width: 1200px) {
    right: 40px;
	}
  @media (max-width: 768px) {
    box-sizing: border-box;
	}
  @media (max-width: 700px) {
    right: 0;
    bottom: 40px;
	}
}

.header__navigation {
  pointer-events: all;
}

.header__column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 70%;
  max-height: 100%;
  @media (max-width: 900px) {
    max-width: 100%;
  }
  @media (max-width: 400px) {
    height: 80%;
  }
}

.header__column-right {
  display: flex;
  flex-direction: column;
  width: auto;
  @media (max-width: 900px) {
    align-self: flex-end;
  }
}

.header__services {
  pointer-events: all;
  margin-bottom: 51px;
  @media (max-width: 900px) {
    display: none;
  }
}

.header__slider-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: all;
  @media (max-width: 900px) {
    min-width: 270px;
  }
  @media (max-width: 700px) {
    min-width: 240px;
  }
}

.header__request-button {
  align-self: flex-end;
  z-index: 9;
  @media (max-width: 900px) {
    position: absolute;
    bottom: 70px;
    right: 50px;
  }
  // @media (max-width: 700px) {
  //   right: 0;
  // }
}

.header__menu {
  position: absolute;
  top: 0;
  height: 100%;
}

.header__decoration__services {
  height: calc(420px - 108px); // (Отступ между Header и слайдами по макету) - (padding .header__page__pages)
  background-color: $main-bg-2;
  order: 3;
}
