.header {
  height: 100vh;
  max-height: 832px;
  position: relative;
  background-color: #FFFFFF;
}
.header__slide {
}
.header__content {
  position: absolute;
  z-index: 9;
  top: 28px;
  left: 144px;
  right: 100px;
  bottom: 60px;
  pointer-events: none;

  @media (max-width: 1200px) {
		left: 84px;
		right: 40px;
	}

	@media (max-width: 767px) {
		left: 5%;
		right: 5%;
		bottom: 30px;
	}
}

.header__navigation {
  pointer-events: all;
}
.header__column-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
}
.header__services {
  pointer-events: all;
  margin-bottom: 51px;
}
.header__slider-controls {
  display: flex;
  justify-content: space-between;
  pointer-events: all;
}

.header__request-button {
  position: absolute;
  bottom: 0;
  right: 31%;
  transform: translate(-50%, 0%);
  padding: 0;
  width: 158px;
  height: 158px;
  min-width: 158px;
  min-height: 158px;
  pointer-events: all;
  order: 4;
  border: none;
  border-radius: 50%;
  background-color: $dark-blue;
  color: $white;
}
