.header {
}
.header__page {
  &__main-page {
    position: relative;
    height: 100vh;
    max-height: 832px;
    background-color: #FFFFFF;
    // overflow: hidden;
  }
  &__pages {
    margin-bottom: 146px;
    padding: 28px 0 108px;
    background-color: $dark-blue;
    overflow: hidden;
    @media (max-width: 700px) {
      margin-bottom: 60px;
      padding: 28px 0 40px;
    }
    @media (max-width: 500px) {
      margin-bottom: 40px;
    }
  }
  &__services {
    margin-bottom: calc(-264px - 121px + 146px); // Половина слайда Services + Margin от заголовка - Margin блока Header
  }
  &__operational-blocks {
    margin-bottom: 0;
  }
  &__contacts {
    margin-bottom: 0;
  }
}

.header__content__pages {
  display: flex;
  flex-direction: column;
  color: $white;
}
.header__main-title {
  margin: 0;
  order: 2;
}
.header__bread-crumbs {
  order: 1;
}
.header__slide {
}
.header__slide-container {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: flex-end;
  height: calc(100% - 60px);

  @media (max-width: 900px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    row-gap: 50px;
  }
  @media (max-width: 400px) {
    // justify-content: flex-start;
  }
}
.header__content__main-page {
  position: absolute;
  z-index: 9;
  top: 28px;
  left: 144px;
  right: 100px;
  bottom: 60px;
  pointer-events: none;

  @media (max-width: 1200px) {
    right: 40px;
	}
  @media (max-width: 700px) {
    top: 28px;
    left: 100px;
    bottom: 40px;
	}
  @media (max-width: 400px) {
    top: 28px;
    left: 75px;
    bottom: 40px;
	}

}
.header__content__pages {

}

.header__navigation {
  // box-sizing: border-box;
  pointer-events: all;
}
.header__column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 70%;
  max-height: 100%;
  // pointer-events: all;
  @media (max-width: 900px) {
    max-width: 100%;
    // height: auto;
  }
  @media (max-width: 400px) {
    height: 80%;
  }
}
.header__column-right {
  display: flex;
  flex-direction: column;
  width: auto;
  // align-self: flex-end;
  // position: absolute;
  // right: 0;
  // bottom: 0;
  @media (max-width: 900px) {
    align-self: flex-end;
  }
}
.header__services {
  pointer-events: all;
  margin-bottom: 51px;

  @media (max-width: 900px) {
    display: none;
  }
}
.header__slider-controls {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  pointer-events: all;
  @media (max-width: 900px) {
    min-width: 270px;
  }
  @media (max-width: 700px) {
    min-width: 240px;
  }
}

.header__request-button {
  align-self: flex-end;
  @media (max-width: 900px) {
    position: absolute;
    bottom: 70px;
    right: 50px;
  }
  @media (max-width: 700px) {
    right: 0;
  }


  // position: relative;
  // padding: 0;
  // align-self: flex-end;
  // width: 158px;
  // height: 158px;
  // min-width: 158px;
  // min-height: 158px;
  // pointer-events: all;
  // order: 4;
  // border: none;
  // border-radius: 50%;
  // background-color: $dark-blue;
  // color: $white;
  // cursor: pointer;
  // &::after,
  // &::before {
  //   position: absolute;
  //   content: "";
  //   top: 50%;
  //   left: 50%;
  //   background-color: $white;
  // }
  // &::before {
  //   width: 40px;
  //   height: 2px;
  //   transform: translate(-50%, -50%);
  // }
  // &::after {
  //   width: 2px;
  //   height: 40px;
  //   transform: translate(-50%, -50%);
  // }
}

.header__menu {
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 1512px;
}
.header__decoration__services {
  height: calc(264px + 121px - 146px); // Половина слайда Services + Margin от заголовка - Margin блока Header
  background-color: $dark-blue;
  order: 3;
}

.header__sidebar {
}
.header__request {
}
