.language {
  margin: 10px 0;
}

.language__ru {
  padding: 0;
  cursor: pointer;
}

.language__switch {
  position: relative;
  width: 24px;
  height: 38px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  background-color: rgba(236, 238, 243, 1);

  &.theme-transparent {
    transition: 0.2s;
    background-color: rgba(50, 57, 71, 1);
  }

  &.theme-blue {
    transition: 0.2s;
    background-color: rgba(28, 61, 131, 1);
  }
}

.language__position {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 0.2s;
  background-color: $dark-blue;

  &.theme-transparent {
    transition: 0.2s;
    background-color: $white;
  }

  &.theme-blue {
    transition: 0.2s;
    background-color: $white;
  }

  &__uz {
    transform: translate(-50%, 60%);
  }
}

.language__uz {
  padding: 0;
  cursor: pointer;
}

.language__current {
  transition: 0.2s;
  color: $dark-blue;

  &.theme-transparent {
    transition: 0.2s;
    color: $white;
  }
  &.theme-blue {
    transition: 0.2s;
    color: $white;
  }
}
