.main-header {
  color: $white;
}
.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.main-header__company {
  margin: auto 0;
  padding: 0;
  max-width: 15%;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.60);

  @media (max-width: 1200px) {
    max-width: 20%;
	}
}
.main-header__navigation {
}
.main-header__contacts {
  display: flex;
  column-gap: 45px;
}
.main-header__number {
  margin: auto 0;
}
.main-header__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: $white;
}
.main-header__button {
}
.main-header__link__button {
  display: flex;
  padding: 15px 40px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
