.main-header {
  color: $white;
  position: relative;
}
.main-header__page__pages {
  margin-bottom: 80px;
  .main-header__contacts {

  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  @media (max-width: 800px) {
    justify-content: flex-end;
  }
  @media (max-width: 500px) {
    justify-content: center;
  }
}
.main-header__company {
  margin: auto 0;
  padding: 0;
  max-width: 15%;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.60);

  @media (max-width: 1200px) {
    max-width: 20%;
	}
  @media (max-width: 800px) {
    display: none;
	}
}
.main-header__navigation {
}
.main-header__contacts {
  display: flex;
  column-gap: 45px;
}
.main-header__contacts__main-page {
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: end;
  }
}
.main-header__contacts__pages {
  @media (max-width: 500px) {
    justify-content: space-between;
  }
}
.main-header__number {
  margin: auto 0;
  @media (max-width: 500px) {
    margin-bottom: 15px;
  }
}
.main-header__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: $white;
}
.main-header__button {
}
.main-header__link__button {
}
