.main-header {
  position: relative;
  color: $main-text-2;
}

.main-header__page__pages {
  margin-bottom: 80px;

  @media (max-width: 700px) {
    margin-bottom: 20px;
  }
}

.main-header__container {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.main-header__container__main-page {
  @media (max-width: 800px) {
    justify-content: flex-end;
  }
}

.main-header__container__pages {
  @media (max-width: 800px) {
    justify-content: flex-end;
  }
}

.main-header__company {
  margin: auto 0;
  padding: 0;
  max-width: 15%;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.4;
  color: $inactive-text-3;

  @media (max-width: 1200px) {
    max-width: 20%;
  }

  @media (max-width: 800px) {
    display: none;
  }
}

.main-header__contacts {
  display: flex;
  column-gap: 45px;
}

.main-header__contacts__main-page {
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: end;
  }
}

.main-header__number {
  margin: auto 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.main-header__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: $main-text-2;

  &__phone {
    transition: all 0.2s ease;

    &:hover {
      color: $inactive-text-1;
      transition: all 0.2s ease;
    }
  }
}

.main-header__link__button {
  transition: all 0.2s ease;

  &__main-page {
    &:hover {
      color: $main-text-1;
    }
  }

  &:hover {
    color: $span-text-2;
    transition: all 0.2s ease;
  }
}
