.main-footer {
  background-color: $main-bg-2;
}

.main-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 53px 0 75px;

  @media (max-width: 700px) {
    padding: 40px 0;
  }

  @media (max-width: 700px) {
    padding: 20px 0;
  }
}

.main-footer__company {
  align-self: flex-start;
  width: 206px;
  height: 64px;

  a {
    margin: 0 0 42px;

    @media (max-width: 700px) {
      margin: 0 0 25px;
    }
  }

  @media (max-width: 700px) {
    width: 160px;
  }
}

.main-footer__link {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color: $main-text-2;
  transition: all 0.2s ease;

  &__copirights {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
  }

  &:hover {
    color: $hover-text-1;
    transition: all 0.2s ease;
  }

  @media (max-width: 700px) {
    font-size: 16px;
  }

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

.main-footer__description {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: $main-text-2;

  @media (max-width: 400px) {
    font-size: 12px;
  }
}

.main-footer__contacts {
  display: flex;
  flex-direction: column;

  @media (max-width: 900px) {
    display: none;
  }
}

.main-footer__phone {
  margin: 0 0 26px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  text-decoration: none;
  color: $main-text-2;
  transition: all 0.2s ease;

  &:hover {
    color: $hover-text-1;
    transition: all 0.2s ease;
  }
}

.main-footer__mail {
  margin: 0 0 89px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
  color: $main-text-2;
  transition: all 0.2s ease;

  &:hover {
    color: $hover-text-1;
    transition: all 0.2s ease;
  }
}

.main-footer__list {
  list-style: none;
  margin: 0 0 69px;
  padding: 0;

  @media (max-width: 700px) {
    margin: 0 0 25px;
  }
}

.main-footer__item {
  margin: 0 0 14px;

  &:last-child {
    margin: 0;
  }
}

.main-footer__copyrights {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: $main-text-2;

  a {
    display: inline-block;

    @media (max-width: 400px) {
      display: block;
    }
  }
}
