.main-footer {
  background-color: $dark-blue;
}
.main-footer__container {
  padding: 53px 0 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 700px) {
    padding: 40px 0;
  }
  @media (max-width: 700px) {
    padding: 20px 0;
  }
}
.main-footer__company {
  align-self: flex-start;
  width: 206px;
  height: 64px;
  @media (max-width: 700px) {
    width: 160px;
  }
  a {
    margin: 0 0 42px;
    @media (max-width: 700px) {
      margin: 0 0 25px;
    }
  }
}
.main-footer__link {
  display: block;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  @media (max-width: 700px) {
    font-size: 16px;
  }
  @media (max-width: 500px) {
    font-size: 14px;
  }
}
.main-footer__description {
  margin: 0;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  @media (max-width: 400px) {
    font-size: 12px;
  }
}
.main-footer__contacts {
  display: flex;
  flex-direction: column;
  @media (max-width: 900px) {
    display: none;
  }
}
.main-footer__phone {
  margin: 0 0 26px;
  color: $white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}
.main-footer__mail {
  margin: 0 0 89px;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.main-footer__info {
}
.main-footer__list {
  margin: 0 0 69px;
  padding: 0;
  list-style: none;
  @media (max-width: 700px) {
    margin: 0 0 25px;
  }
}
.main-footer__item {
  margin: 0 0 14px;

  &:last-child {
    margin: 0;
  }
}
.main-footer__copyrights {
  margin: 0;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  a {
    display: inline-block;
    @media (max-width: 400px) {
      display: block;
    }
  }
}
