.main-header {
  color: $main-text-2;
  position: relative;
}

.main-header__page__pages {
  margin-bottom: 80px;
  @media (max-width: 700px) {
    margin-bottom: 20px;
  }
}

.main-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.main-header__container__main-page {
  @media (max-width: 800px) {
  justify-content: flex-end;
  }
}

.main-header__container__pages {
  @media (max-width: 500px) {
    justify-content: center;
  }
}

.main-header__company {
  margin: auto 0;
  padding: 0;
  max-width: 15%;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.4;
  color: $inactive-text-3;

  @media (max-width: 1200px) {
    max-width: 20%;
	}
  @media (max-width: 800px) {
    display: none;
	}
}

.main-header__contacts {
  display: flex;
  column-gap: 45px;
}

.main-header__contacts__main-page {
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: end;
  }
}

.main-header__contacts__pages {
  // box-sizing: border-box;
  @media (max-width: 800px) {
    width: 100%;
    column-gap: normal;
    justify-content: space-between;
  }
}

.main-header__number {
  margin: auto 0;
  @media (max-width: 500px) {
    margin-bottom: 15px;
  }
}

.main-header__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: $main-text-2;
  &__phone {
    transition: all 0.2s ease;
    &:hover {
      text-decoration: underline;
      transition: all 0.2s ease;
    }
  }
}

.main-header__link__button {
  transition: all 0.2s ease;
  &:hover {
    color: $span-text-2;
    transition: all 0.2s ease;
  }
  &__main-page {
    &:hover {
      color: $main-text-1;
    }
  }
}
