.map {
  margin-bottom: 165px;
  
  @media (max-width: 700px) {
    margin-bottom: 60px;
}
}

.map__container {
  position: relative;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    padding: 0 40px 0 144px;
  }

  @media (max-width: 700px) {
    margin-bottom: 60px;
    padding: 0 60px;
  }

  @media (max-width: 500px) {
    margin-bottom: 40px;
    padding: 0 30px;
  }
}

.map__iframe-container {
  margin: 0 0 0 100px;
  filter: grayscale(100%);

  iframe {
    @media (max-width: 500px) {
      max-height: 300px;
    }
  }

  @media (max-width: 900px) {
    margin: 0 -40px 40px -44px;
  }

  @media (max-width: 700px) {
    margin: 0 -60px 40px;
  }

  @media (max-width: 500px) {
    margin: 0 -30px 40px;
  }
}
