.menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
  }

.menu__mask {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $main-bg-2;
  transform: scale(0.1);
  transition: transform 0.4s ease 0.2s;
  z-index: 9;
  &.theme-transparent {
    top: 35%;
    left: -30%;
    @media (max-width: 700px) {
      display: block;
    }
  }
  &.activated {
    background-color: $main-bg-2;
    opacity: 1;
    transform: scale(50);
    transition: opacity 1s ease 2s;
    transition: transform 0.8s ease;
  }
  @media (max-width: 700px) {
    display: none;
  }
}

.menu__container {
  position: relative;
  display: flex;
  column-gap: 100px;
  padding: 203px 121px;
  box-sizing: border-box;
  transition: transform 0.4s ease 0.2s;
  pointer-events: all;
  z-index: 10;

  @media (max-width: 950px) {
    padding: 100px 100px 100px 121px;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 700px) {
    padding: 60px 50px 60px 80px;
  }
  @media (max-width: 400px) {
    padding: 40px 30px 40px 80px;
  }

  &.deactivated {
    transform: translate(-250%, 0%);
    transition: transform 0.8s ease;
  }
}

.menu__column__left {
  @media (max-width: 950px) {
    margin: 0 0 30px;
  }
  @media (max-width: 700px) {
    margin: 0 0 20px;
  }
  @media (max-width: 550px) {
    margin-bottom: 15px;
  }
}

.menu__list {
  list-style: none;
  padding: 0;
}

.menu__nav-list {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.0;

  @media (max-width: 700px) {
    font-size: 30px;
  }
  @media (max-width: 700px) {
    font-size: 20px;
  }
}

.menu__nav-item {
  margin-bottom: 35px;
  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.menu__link {
  text-decoration: none;
  color: $main-text-2;
  transition: all 0.2s ease;
  &:hover {
    text-decoration: underline;
    transition: all 0.2s ease;
  }
}

.menu__column__right {
  @media (max-width: 950px) {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }
  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.menu__info {
  margin-bottom: 52px;
  @media (max-width: 950px) {
    order: 2;
  }
  @media (max-width: 700px) {
    margin-bottom: 20px;
  }
  @media (max-width: 550px) {
    margin-bottom: 15px;
    order: 1;
  }
}

.menu__info-list {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.menu__info-item {
  margin-bottom: 14px;
}

.menu__info-link {
  white-space: nowrap;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: 950px) {
    order: 1;
  }
  @media (max-width: 550px) {
    order: 2;
  }
}

.menu__phone {
  color: $main-text-2;
}

.menu__map {
  @media (max-width: 950px) {
    margin: 0 0 30px;
  }
}
