.menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
  }

.menu__mask {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $dark-blue;
  transform: scale(0.1);
  transition: transform 0.4s ease 0.2s;
  z-index: 9;
  &.theme-transparent {
    top: 35%;
    left: -30%;
  }
  &.activated {
    background-color: $dark-blue;
    opacity: 1;
    transform: scale(50);
    transition: opacity 1s ease 2s;
    transition: transform 0.8s ease;
  }
}

.menu__container {
  position: relative;
  display: flex;
  column-gap: 100px;
  padding: 203px 121px;
  box-sizing: border-box;
  transition: transform 0.4s ease 0.2s;
  pointer-events: all;
  z-index: 10;
  &.deactivated {
    transform: translate(-250%, 0%);
    transition: transform 0.8s ease;
  }
}

.menu__column__left {
}
.menu__list {
  list-style: none;
  padding: 0;
}
.menu__nav-list {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.0;
}
.menu__item {
}
.menu__nav-item {
  margin-bottom: 35px;
}
.menu__link {
  text-decoration: none;
  color: $white;
}
.menu__nav-link {
}
.menu__column__right {
}
.menu__info {
  margin-bottom: 52px;
}
.menu__info-list {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
.menu__info-item {
  margin-bottom: 14px;
}
.menu__info-link {
}
.menu__contacts {
  display: flex;
  flex-direction: column;
}
.menu__phone {
  color: $white;
}
.menu__mail {
}
.menu__address {
}
.menu__map {
}
.menu__socials {
}
