.mission {
}
.mission__title {
  margin: 0 0 38px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.0;
}
.mission__description {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
