.mission__title {
  margin: 0 0 38px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.0;
  @media (max-width: 700px) {
    font-size: 24px;
  }
  @media (max-width: 400px) {
    font-size: 18px;
  }
}

.mission__description {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
