.header__request {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1512px;
  overflow: hidden;
  z-index: 30;
}

.modal-request__mask {
  position: absolute;
  top: -1px; // Выравниваем с учётом дополнительной ширины и высоты (+2px)
  left: -1px; // Выравниваем с учётом дополнительной ширины и высоты (+2px)
  width: calc(100% + 2px); // Убираем белую полосу вокруг кнопки (появляется при нажатии)
  height: calc(100% + 2px); // Убираем белую полосу вокруг кнопки (появляется при нажатии)
  border-radius: 100px;
  background-color: $main-bg-2;
  transform: scale(1);
  transition: all 0.4s ease 0.2s;
  z-index: -1;
  &.activated {
    overflow: hidden;
    transform: scale(500);
    z-index: 30;
    transition: transform 2s ease 0.2s;
  }
}

.modal-request__mask__operational-blocks-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: $main-bg-2;
  transform: scale(1);
  transition: all 0.4s ease 0.2s;
  z-index: -1;
  &.activated {
    overflow: hidden;
    transform: scale(100);
    z-index: 30;
    transition: transform 2s ease 0.2s;
  }
}

.modal-request__container {
  position: fixed;
  width: 100%;
  height: 100vh;
  transition: transform 0.4s ease 0.2s;
  z-index: 30;
  &.deactivated {
    transform: translate(0%, -250%);
    transition: transform 0.8s ease;
  }
  &.activated {
    overflow-x: hidden;
  }
}

.modal-request__open-button {
  position: relative;
  width: 158px;
  height: 158px;
  min-width: 158px;
  min-height: 158px;
  pointer-events: all;
  border-radius: 50%;
  background-color: $button-bg-1;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: $button-bg-4;
    transition: all 0.2s ease;
  }

  &:hover::after,
  &:hover::before {
    background-color: $button-bg-1;
    transition: all 0.2s ease;
  }

  &:active {
    background-color: $button-bg-1;
    transition: all 0.2s ease;
  }

  &:active::after,
  &:active::before {
    background-color: $button-bg-4;
    transition: all 0.2s ease;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    background-color: $button-bg-4;
  }
  &::before {
    width: 30px;
    height: 3px;
    transform: translate(-50%, -50%);
  }
  &::after {
    width: 3px;
    height: 30px;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 700px) {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
  }
  @media (max-width: 400px) {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
  }
}

.modal-request__close-button {
  position: relative;
  margin: -70px auto 0;
  padding: 0;
  width: 113px;
  height: 113px;
  min-width: 113px;
  min-height: 113px;
  pointer-events: all;
  border: none;
  border-radius: 113px;
  background-color: $button-bg-3;
  rotate: 45deg;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: $button-bg-4;
    transition: all 0.2s ease;
  }
  &:hover::after,
  &:hover::before {
    background-color: $button-bg-1;
    transition: all 0.2s ease;
  }

  &:active {
    background-color: $button-bg-3;
    transition: all 0.2s ease;
  }
  &:active::after,
  &:active::before {
    background-color: $button-bg-4;
    transition: all 0.2s ease;
  }

  @media (max-width: 700px) {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
  }
  @media (max-width: 400px) {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    background-color: $main-bg-3;
    transition: all 0.2s ease;
  }
  &::before {
    width: 25px;
    height: 3px;
    transform: translate(-50%, -50%);
  }
  &::after {
    width: 3px;
    height: 25px;
    transform: translate(-50%, -50%);
  }
}
