.header__request {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1512px;
  overflow: hidden;
  // height: 100vh;
  z-index: 30;
}
.modal-request {
  .deactivated {
  }
}
.modal-request__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 158px;
  height: 158px;
  border-radius: 100px;
  background-color: $dark-blue;
  transform: scale(1);
  transition: all 0.4s ease 0.2s;
  z-index: -1;
  &.activated {
    overflow: hidden;
    transform: scale(100);
    z-index: 30;
    transition: transform 2s ease 0.2s;
  }
  @media (max-width: 700px) {
    width: 120px;
    height: 120px;
  }
  @media (max-width: 400px) {
    width: 80px;
    height: 80px;
  }
}
.modal-request__container {
  position: fixed;
  width: 100%;
  height: 100vh;
  max-width: 1512px;
  transition: transform 0.4s ease 0.2s;
  z-index: 30;
  &.deactivated {
    transform: translate(0%, -250%);
    transition: transform 0.8s ease;
  }
  &.activated {
    overflow-x: scroll;
  }
}
.modal-request__title {
}
.modal-request__open-button {
  position: relative;
  // padding: 0;
  // align-self: flex-end;
  width: 158px;
  height: 158px;
  min-width: 158px;
  min-height: 158px;
  pointer-events: all;
  // order: 4;
  // border: none;
  border-radius: 50%;
  background-color: $dark-blue;
  // color: $white;
  cursor: pointer;

  @media (max-width: 700px) {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
  }
  @media (max-width: 400px) {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    background-color: $white;
  }
  &::before {
    width: 40px;
    height: 2px;
    transform: translate(-50%, -50%);
  }
  &::after {
    width: 2px;
    height: 40px;
    transform: translate(-50%, -50%);
  }
}
.modal-request__close-button {
  position: relative;
  margin: -70px auto 0;
  padding: 0;
  width: 113px;
  height: 113px;
  min-width: 113px;
  min-height: 113px;
  pointer-events: all;
  border: none;
  border-radius: 113px;
  background-color: rgba(255, 255, 255, 0.10);
  rotate: 45deg;
  cursor: pointer;

  @media (max-width: 700px) {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
  }
  @media (max-width: 400px) {
    margin: -35px auto 0;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    // top: 51%;
    // left: 34%;
    background-color: $white;
  }
  &::before {
    width: 40px;
    height: 2px;
    // rotate: 45deg;
    transform: translate(-50%, -50%);
    // transform: translate(-3%, -50%);
  }
  &::after {
    width: 2px;
    height: 40px;
    // rotate: 45deg;
    transform: translate(-50%, -50%);
    // transform: translate(-50%, -70%);
  }
}
