.navigation {
  @media (max-width: 1200px) {
    display: none;
  }
}

.navigation__list {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin: auto 0;
  padding: 0;
}

.navigation__item {
  position: relative;
  margin: auto 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0;
  width: 120px;

  &__sublist {
    &::after {
      content: "";
      position: absolute;
      right: 50px;
      top: 22px;
      width: 10px;
      height: 10px;
      background-image: url("../img/header/header-icon-more.svg");
    }

    &:hover {
      border-bottom: 1px solid transparent;
    }
  }

  &__current {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }

  &:hover > .navigation__sublist {
    opacity: 1;
    transition: all 0.2s ease;
    pointer-events: all;
  }
}

.navigation__link {
  display: flex;
  align-items: center;
  margin: auto 0;
  font-size: 14px;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  color: $inactive-text-1;
  transition: all 0.2s ease;

  &__current {
    color: $main-text-2;
  }

  &:hover {
    color: $main-text-2;
    transition: all 0.2s ease;
  }
}

.navigation__sublist {
  position: absolute;
  left: -10px;
  top: 57px;
  z-index: 10;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px;
  width: max-content;
  max-width: 350px;
  box-sizing: border-box;
  background-color: $main-bg-2;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;

  &__main {
    background-color: $main-bg-4;
  }
}

.navigation__subitem {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .navigation__link {
    display: block;
    max-width: 100%;
    white-space: wrap;
  }
}
