.page {
  height: 100%;
  max-width: 1512px;

  // font-family: "PT Sans", "Arial", sans-serif;
  // font-size: 18px;
  // font-style: normal;
  // font-weight: 700;
  // line-height: 1.44;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}
