.page {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;

  &.lock {
    overflow: hidden;
  }
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  overflow: hidden;

  &.lock {
    overflow: hidden;
  }
}
