.quote-about {
  margin-bottom: 120px;
  @media (max-width: 700px) {
    margin-bottom: 60px;
  }
  @media (max-width: 500px) {
    margin-bottom: 40px;
  }
}

.quote-about__container {
  display: flex;
  background-color: $main-bg-2;
  @media (max-width: 940px) {
    margin: 0 40px 0 144px;
  }
  @media (max-width: 700px) {
    margin: 0 60px 60px;
	}
  @media (max-width: 500px) {
    margin: 0 30px 60px;
	}
}

.quote-about__column-left {
  display: flex;
  align-items: center;
  max-width: 33%;
  padding: 50px 40px 50px calc(143px + 109px);

  @media (max-width: 1060px) {
    padding: 50px 40px 50px (101px + 109px);
    max-width: 100%;
  }
  @media (max-width: 940px) {
    padding: 80px 60px 80px 120px;
  }
  @media (max-width: 700px) {
    padding: 80px 40px 60px 80px;
  }
  @media (max-width: 600px) {
    padding: 50px 40px 50px 70px;
  }
  @media (max-width: 400px) {
    padding: 30px 20px;
  }
}

.quote-about__quote-container {
  display: flex;
  flex-direction: column;
  color: $main-text-2;
}

.quote-about__autor {
  display: flex;
}

.quote-about__avatar {
  margin-right: 28px;
  display: flex;
  object-fit: cover;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  object-position: center center;
  border-radius: 50%;
}

.quote-about__autor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-about__name {
  margin: 0 0 12px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.0;
}

.quote-about__position {
  margin: 0;
  color: $inactive-text-1;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.0;
}

.quote-about__column-right {
  width: auto;
  max-width: 50%;
  @media (max-width: 940px) {
    display: none;
  }
}

.quote-about__photo {
  display: flex;
  img {
    height: 729px;
    object-fit: cover;
    background-size: cover;
  }
}
