.reasons {
  &__page__main {
    margin-bottom: 135px;
    background-image: url("../img/reasons/reasons-logo.svg");
    background-position: 10% 33%;
    background-repeat: no-repeat;
    background-size: 368px;
    @media (max-width: 1100px) {
      background-position: 50% 10%;
    }
    @media (max-width: 700px) {
      margin-bottom: 60px;
    }
  }
  &__page__about {
    margin-bottom: 10px;
  }
}
.reasons__container {
}
.reasons__title {
  margin: 0 0 73px;
  color: $blue;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
  @media (max-width: 700px) {
    margin-bottom: 20px;
  }
}
.reasons__content {
  display: flex;
  column-gap: 40px;
  justify-content: space-between;
  @media (max-width: 1100px) {
    flex-direction: column;
    row-gap: 40px;
  }
}
.reasons__column {
  width: 50%;
  @media (max-width: 1100px) {
    width: 100%;
  }
}
.reasons__column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reasons__main-subtitle {
  margin: 0 0 53px;
  padding: 0;
  max-width: 80%;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;
  span {
    color: $blue;
  }
  @media (max-width: 700px) {
    max-width: 100%;
  }
  @media (max-width: 400px) {
    margin: 0 0 20px;
    font-size: 20px;
  }
}
.reasons__main-description {
  margin: 0 0 57px;
  padding: 0;
  max-width: 63%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  @media (max-width: 700px) {
    max-width: 100%;
  }
  @media (max-width: 400px) {
    margin: 0 0 20px;
  }
}
.reasons__link {
  width: min-content;
  text-decoration: none;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.reasons__column-right {
}
.reasons__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}
.reasons__list__line {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 1100px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}
.reasons__item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  list-style: none;
  border-radius: 20px;
  background: rgba(95, 104, 131, 0.05);
  backdrop-filter: blur(9px);
  @media (max-width: 400px) {
    flex-direction: row;
    column-gap: 15px;
  }
}
.reasons__item-content {

}
.reasons__subtitle {
  margin: 0 0 17px;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;

}
.reasons__icon {
  order: -1;
  margin: 0 0 24px;
  width: 60px;
  height: 60px;
  @media (max-width: 400px) {
    width: 120px;
  }
}
.reasons__description {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}
