.request-block {
  display: flex;
  flex-direction: column;
  padding: 40px 53px;
  width: 390px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 40px;
  background-color: rgba(247, 247, 249, 0.90);
  backdrop-filter: blur(20px);
  box-sizing: border-box;
}

.request-block__contacts-page {
  position: absolute;
  height: 295px;
  top: -55px;
  right: 100px;
  box-sizing: border-box;
  @media (max-width: 1200px) {
    right: 40px;
  }
  @media (max-width: 900px) {
    position: static;
    width: 100%;
    height: 100%;
  }
}

.request-block__operational-block-page {
  @media (max-width: 1100px) {
    width: 100%;
  }
}

.request-block__title {
  margin: 0 0 19px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
}

.request-block__description {
  margin: 0 0 31px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  &__contacts {
    max-width: 70%;
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}

.request-block__button {
  position: relative;
  padding: 15px 40px 15px 60px !important;
  color: $white;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 14px;
    left: calc(50% - 100px);
    width: 20px;
    height: 20px;
    background-image: url("../img/feedback/feedback-icon-send.svg");
  }
}

.request-block__button__map {
  position: relative;
  padding: 15px 40px 15px 60px !important;
  color: $white;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;

  &::before {
    content: '';
    position: absolute;
    top: 14px;
    left: calc(50% - 100px);
    width: 20px;
    height: 20px;
    background-image: url("../img/contacts/contacts-icon-travel.svg");
  }
}
