.services {
  margin: 0 0 120px;
  background-color: $dark-blue;
}
.services__container {
}
.services__title {
  position: relative;
  margin: 0 0 44px 0;
  color: rgba(255, 255, 255, 0.50);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
}
.services__slider {
}
.services__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 462px;
  max-height: 528px;
  border-radius: 40px;
  overflow: hidden;
}
.services__slide-1 {
}
.services__item {
}
.services__item-image {
  display: flex;
}
.setvices__item-desctription {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 21px 29px 23px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  background: rgba(216, 222, 236, 0.80);
  backdrop-filter: blur(50px);
}
.services__item-name {
  margin: 0;
  padding: 0;
  max-width: 65%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}
.services__item-page {
  margin: 0;
  padding: 0;
  color: #767C88;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.0;
}
.services__slide-2 {
}
.services__slide-3 {
}
