.services {
  margin: 0 0 120px;
  padding: 10px 0 0;
  overflow: hidden;
  @media (max-width: 700px) {
    margin-bottom: 60px;
  }
  @media (max-width: 400px) {
    margin: 0 0 40px;
  }
}

.services__title {
  position: relative;
  margin: 0 0 44px 0;
  color: $inactive-text-1;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
  &__transparent {
    color: transparent;
  }
}

.services__slider {
  position: relative;
  margin: -95px auto 0;
  display: flex;
  flex-direction: column;
  max-width: calc(1512px - 240px);
  overflow: hidden;
}

.services__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 462px;
  max-height: 528px;
  min-width: 150px;
  min-height: 300px;
  border-radius: 40px;
  overflow: hidden;
}

.services__item {
  backdrop-filter: blur(0px); //Нужен чтобы избавиться от бага в .services__item-desctription

  &:hover .services__button-plus::before {
    transform: scale(1.3);
    transition: all 0.2s ease;
  }

  &:hover .services__item-desctription {
    min-height: calc(110px + 20px);
    padding: calc(21px + 20px) 29px 23px;
    transition: all 0.2s ease;

    @media (max-width: 400px) {
      padding: calc(15px + 10px) 15px 15px;
      min-height: calc(75px + 10px);
    }
  }
}

.services__slider-navigation {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: end;
  order: -1;

  @media (max-width: 450px) {
    display: none;
  }
}

.services__button-plus {
  position: absolute;
  top: 35%;
  left: calc(50% - calc(74px / 2));
  pointer-events: none;
  transition: transform 0.2s ease;

  &::before {
    position: absolute;
    content: "";
    width: 74px;
    height: 74px;
    min-width: 74px;
    min-height: 74px;
    border-radius: 50%;
    transform: scale(1);
    background-color: $button-bg-4;
    transition: transform 0.2s ease;
  }
}

.services__plus {
  position: relative;
  width: 74px;
  height: 74px;
  min-width: 74px;
  min-height: 74px;
  transform: scale(1);
  cursor: pointer;

  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    background-color: $main-bg-4;
  }
  &::before {
    width: 22px;
    height: 2px;
    transform: translate(-50%, -50%);
  }
  &::after {
    width: 2px;
    height: 22px;
    transform: translate(-50%, -50%);
  }
}

.services__item-image {
  display: flex;
}

.services__item-link {
  display: flex;
}

.services__item-desctription {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 21px 29px 23px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 110px;
  overflow: hidden;
  background-color: $cards-bg-1;
  backdrop-filter: blur(50px); //Нужно добавить родителю blur(0px), чтобы убрать баг с краями блока
  transition: all 0.2s ease;
  @media (max-width: 400px) {
    padding: 15px;
    min-height: 75px;
  }
}

.services__item-name {
  margin: 0;
  padding: 0;
  max-width: 92%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  @media (max-width: 400px) {
    font-size: 16px;
  }
}

.services__item-page {
  margin: 0;
  padding: 0;
  color: $inactive-text-4;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.0;
  @media (max-width: 400px) {
    font-size: 14px;
  }
}
