.services {
  margin: 0 0 120px;
  overflow: hidden;
  &__page__services {
    margin: 0 0 45px 144px;
  }
}
.services__container {
  // margin-left: 144px;
}
.services__title {
  position: relative;
  margin: 0 0 44px 0;
  color: rgba(255, 255, 255, 0.50);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
}
.services__slider {
  // display: flex;
  // width: calc(1512px - 100px - 144px);
  overflow: hidden;
  // box-sizing: border-box;
}
.services__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 462px;
  max-height: 528px;
  min-width: 150px;
  min-height: 300px;
  border-radius: 40px;
  overflow: hidden;
}
.services__item {
  backdrop-filter: blur(0px); //Нужен чтобы избавиться от бага в .setvices__item-desctription
}
.services__item-image {
  display: flex;
}
.setvices__item-desctription {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 21px 29px 23px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  min-height: 110px;
  overflow: hidden;
  background: rgba(216, 222, 236, 0.80);
  backdrop-filter: blur(50px); //Нужно добавить родителю blur(0px), чтобы убрать баг с краями блока
}
.services__item-name {
  margin: 0;
  padding: 0;
  max-width: 90%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
}
.services__item-page {
  margin: 0;
  padding: 0;
  color: #767C88;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.0;
}
.services__slide-2 {
}
.services__slide-3 {
}
