.side-bar {
  position: fixed;
  top: 0;
  margin-left: -1px; // Убираем просвечивающую полосу
  width: calc(100px + 1px); // + 1px для отступа слева
  height: 100vh;
  z-index: 20;
  pointer-events: all;
  background-color: $white;
  transition: 0.2s;

  &.theme-transparent {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: transparent;
    transition: all 0.2s ease;
  }
  &.theme-transparent path {
    fill: white;
    transition: all 0.2s ease;
  }

  &.theme-blue {
    background-color: $dark-blue;
    transition: all 0.2s ease;
  }
}

.side-bar__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 24px;
  box-sizing: border-box;
  height: 100%;
  z-index: 20;
}

.side-bar__top {
}
.side-bar__link {
  text-decoration: none;
}
.side-bar__logo {
  width: 52px;
  height: 55px;
  fill: #07286F;
  transition: all 0.2s ease;

  &.theme-transparent path {
    fill: white;
    transition: all 0.2s ease;
  }

  &.theme-blue path {
    fill: white;
    transition: all 0.2s ease;
  }

}
.side-bar__middle {
  position: relative;
  // overflow: hidden;
}

// .side-bar__circle-mask {
//   position: absolute;
//   top: -50%;
//   left: -50%;
//   width: 100px;
//   height: 100px;
//   transition: transform 0.5s ease;
//   -webkit-transition: all 2s ease-in-out;
//   -moz-transition: all 2s ease-in-out;
//   -o-transition: all 2s ease-in-out;
//   transform: scale(0.1);
//   transform-origin: 50% 50%;
//   border-radius: 50%;
//   background-color: tomato;
//   z-index: 19;

//   &.grow {
//     transform: scale(100);
//   }
// }

.side-bar__burger-menu {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  backdrop-filter: blur(25px);
  cursor: pointer;
  background-color: rgba(7, 40, 111, 0.07);
  transition: all 0.2s ease;
  z-index: 20;

  &:hover:not(.theme-blue) {
    rotate: -45deg;
    transition: all 0.2s ease;
  }

  &::after,
  &::before {
    width: 20px;
    height: 2px;
    background-color: $dark-blue;
  }

  &.theme-transparent {
    background-color: rgba(25, 30, 40, 1);
    &::after,
    &::before {
      background-color: $white;
      transition: all 0.2s ease;
    }
  }

  &.theme-blue {
    background: rgba(17, 64, 166, 1);
    transition: all 0.2s ease;
    &::after,
    &::before {
      background-color: $white;
      transition: all 0.2s ease;
    }
    &::after {
      rotate: 45deg;
      bottom: 22px;
      transition: all 0.2s ease;
    }
    &::before {
      rotate: -45deg;
      top: 24px;
      transition: all 0.2s ease;
    }
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 19px;
    left: 14px;
    transition: all 0.2s ease;
  }

  &::before {
    position: absolute;
    content: "";
    top: 19px;
    left: 14px;
    transition: all 0.2s ease;
  }

}
.side-bar__span {
  height: 2px;
  display: block;
}
.side-bar__bottom {
}
.side-bar__language {
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  transition: 0.2s;

  &.theme-transparent {
    color: rgba(62, 68, 80, 1);
    transition: all 0.2s ease;
  }

  &.theme-blue {
    color: rgba(77, 101, 151, 1);
    transition: all 0.2s ease;
  }
}
