.side-bar {
  position: fixed;
  top: 0;
  margin-left: -1px; // Убираем просвечивающую полосу
  width: calc(100px + 1px); // + 1px для отступа слева
  height: 100vh;
  z-index: 20;
  pointer-events: all;
  background-color: $white;
  transition: transform 0.2s ease 0.4s;
  &.hidden {
    transform: translate(-100%, 0);
    transition: transform 0.2s ease 0.4s;
  }
  &.theme-transparent {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: transparent;
    transition: transform 0.2s ease 0.4s;
  }
  &.theme-transparent path {
    fill: white;
    transition: all 0.2s ease;
  }
  &.theme-blue {
    background-color: $dark-blue;
    transition: all 0.2s ease;
  }
}

.side-bar__page__main {
  @media (max-width: 700px) {
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
  }
}

.side-bar__page__pages {
  @media (max-width: 700px) {
    display: none;
  }
}

.side-bar__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 24px;
  box-sizing: border-box;
  height: 100%;
  z-index: 20;
  @media (max-width: 700px) {
    padding: 20px 10px;
  }
}

.side-bar__link {
  text-decoration: none;
}

.side-bar__logo {
  width: 52px;
  height: 55px;
  fill: #07286F;
  transition: all 0.2s ease;

  &.theme-transparent path {
    fill: white;
    transition: all 0.2s ease;
  }
  &.theme-blue path {
    fill: white;
    transition: all 0.2s ease;
  }

}
.side-bar__middle {
  position: relative;
}

.side-bar__burger-menu {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 1000px;
  backdrop-filter: blur(25px);
  cursor: pointer;
  background-color: rgba(7, 40, 111, 0.07);
  transition: all 0.2s ease;
  z-index: 20;

  &:hover:not(.theme-blue) {
    rotate: -45deg;
    transition: all 0.2s ease;
  }

  &::after,
  &::before {
    width: 20px;
    height: 2px;
    background-color: $dark-blue;
  }

  &.theme-transparent {
    background-color: rgba(25, 30, 40, 1);
    &::after,
    &::before {
      background-color: $white;
      transition: all 0.2s ease;
    }
  }

  &.theme-blue {
    background: rgba(17, 64, 166, 1);
    transition: all 0.2s ease;
    &::after,
    &::before {
      background-color: $white;
      transition: all 0.2s ease;
    }
    &::after {
      rotate: 45deg;
      bottom: 22px;
      transition: all 0.2s ease;
    }
    &::before {
      rotate: -45deg;
      top: 24px;
      transition: all 0.2s ease;
    }
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 19px;
    left: 14px;
    transition: all 0.2s ease;
  }

  &::before {
    position: absolute;
    content: "";
    top: 19px;
    left: 14px;
    transition: all 0.2s ease;
  }

}
.side-bar__span {
  height: 2px;
  display: block;
}

.side-bar__language {
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.2s ease;

  &.theme-transparent {
    color: rgba(62, 68, 80, 1);
    transition: all 0.2s ease;
  }

  &.theme-blue {
    color: rgba(77, 101, 151, 1);
    transition: all 0.2s ease;
  }
}
