.slider-controls {
  // display: flex;
  // position: relative;
  color: $white;
}

.slider-controls__counter__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 135px;
}

.slider-controls__counter {
  display: flex;
  position: relative;
  top: 0 !important;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 135px;
}

.slider-controls__scrollbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 25px;
  min-width: 0;
  pointer-events: all;
}

.slider-controls__arrows {
  display: flex;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
  }
}

.slider-controls__button {
  display: flex;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;

  img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}
