.slide-navigation {
  margin-bottom: 51px;
}
.slide-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}

.slide-navigation__link {
  text-wrap: nowrap;
  text-decoration: none;
  color: $inactive-text-2;
  transition: all 0.2s ease;
  &:hover {
    color: $main-text-2;
    transition: all 0.2s ease;
  }

  &__current {
    color: $main-text-2;
    transition: all 0.2s ease;
  }
}
