:root {
  --mask-bg: url("../img/intro/intro-pattern.png") repeat 0% 0%/14.9%;
  --linear-bg: linear-gradient(
      180deg, #000 0%,
      rgba(0, 0, 0, 0.00) 32.29%),
      rgba(0, 0, 0, 0.70
    );
}

.slide {
  height: 100vh;
  max-height: 832px;
  display: flex;
  flex-direction: column;
  padding-left: 144px;
  padding-bottom: calc(60px + 158px); //нижний отступ + высота кнопки "+"
  justify-content: space-between;
  overflow: hidden;
  color: $white;
  box-sizing: border-box;

  &::before {
    content: '';
    box-sizing: border-box;
  }

  &--medical {
    background:
    url("../img/intro/intro-bg-01.jpg") no-repeat center,
    var(--mask-bg),
    var(--linear-bg);
  background-blend-mode: overlay;
  }

  &--blocks {
    background:
    url("../img/intro/intro-bg-02.jpg") no-repeat center,
    var(--mask-bg),
    var(--linear-bg);
  background-blend-mode: overlay;
  }

  &--oxygen {
    background:
    url("../img/intro/intro-bg-03.jpg") no-repeat center,
    var(--mask-bg),
    var(--linear-bg);
  background-blend-mode: overlay;
  }

  @media (max-width: 1200px) {
    padding-left: 84px;
  }

  @media (max-width: 767px) {
    padding-left: 5%;
    padding-bottom: calc(30px + 158px); //нижний отступ + высота кнопки "+"
  }
}

.slide__main-content {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}
.slide__subtitle {
  margin: 0 0 39px 0;
  padding: 0;
  order: 2;
  font-size: 100px;
  font-weight: 800;
  line-height: 1.0;

  @media (max-width: 1512px) {
    // Шрифт подстраивается под ширину экрана
    font-size: 6.61vw; // Значение при котором font-size:100px при ширине экрана 1512px
  }
  @media (max-width: 767px) {
    // Шрифт подстраивается под ширину экрана
    font-size: 9vw; // Увеличиваем значение, чтобы шрифт не был мелким
  }
}
.slide__tag {
  margin: 0 0 28px 0;
  padding: 6px 12px;
  width: min-content;
  order: 1;
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.2;
  background-color: $dark-blue;
  border-radius: 100px;
}
.slide__description {
  margin: 0;
  padding: 0;
  order: 3;
  max-width: 54%;
  font-size: 16px;
  line-height: 1.6;
}
.slide__navigation {
}
.slide-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.32);
}
.slide-navigation__item {
}
.slide-navigation__item__active {
  color: $white;
}
