.slide-navigation {
  align-self: flex-end;
  // margin-bottom: 143px;
  margin-bottom: 51px;
}
.slide-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.32);
}
.slide-navigation__item {
  &__active {
    color: $white;
  }
}

.slide-navigation__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.32);
  &__current {
    color: $white;
  }
}
