.stats {
  display: flex;
  justify-content: center;
}
.stats__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.stats__item {
  width: 210px;
  &:not(:last-child) {
    margin-right: 75px;
  }
}
.stats__number {
  margin: 0 0 17px;
  color: $dark-blue;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}
.stats__description {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}
