.swiper {
  min-width: 320px;
  max-width: 1512px;

  &.mySwiper {
    width: 100vw;
  }
  &.mySwiper2 {
    padding-left: 144px;
    width: 100vw;
    box-sizing: border-box;
  }
}

.swiper-pagination-current {
  display: flex;
  align-items: center;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
.swiper-pagination-total {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.63);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.swiper-scrollbar-horizontal {
  height: 2px !important;
  width: 70px !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.21) !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 1) !important;
}

// Стили для Слайдера Текста
.mySwiper2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 200px;
  max-width: 100%;
  background-color: tomato;

  .swiper-slide {
  }
  .slide__subtitle {
    max-width: 60%;
  }
}


// Код с ютуба
.mySwiper .swiper-wrapper {
  // transition-delay: 0.2s;
}
// .port-text {
//   position: absolute;
//   top: 0;
//   margin-left: -50px;
//   transform: translateY(-50%);
//   z-index: 10;
//   overflow: hidden;
//   width: 100%;
//   height: 50px;
// }
// .port-text h4 {
//   position: relative;
// }
// .port-text h4 span {
//   position: absolute;
// }
// Конец кода с ютуба
