.swiper {
  max-width: 100%;

  // Главный свайпер (главная странциа)
  &.mainSwiper {
    width: 100%;
  }
  &.mainSwiper-tag {
    width: 100%;
    max-height: 100%;
  }
  &.mainSwiper-title {
    max-height: 100%;
  }
  &.mainSwiper-description {
    max-height: 100%;
  }

  // Свайпер с услугами (главная странциа)
  &.servicesSwiper {
    margin: 0 auto;
    width: calc(100vw - 240px - 90px - 50px); // Ширина окна - отступы inner-wrapper - ширина стрелок - отступ от стрелок
    max-width: calc(1272px - 90px - 50px); // Ширина на странице с учетом ширины стрелок навигации + отступ от стрелок
    box-sizing: border-box;
    @media (max-width: 700px) {
      padding-left: 0;
      width: calc(100vw - 120px - 90px - 50px); // Ширина окна - отступы inner-wrapper - ширина стрелок - отступ от стрелок
    }
    @media (max-width: 600px) {
      width: calc(100vw - 120px - 50px - 50px); // Ширина окна - отступы inner-wrapper - ширина стрелок - отступ от стрелок
    }
    @media (max-width: 500px) {
      width: calc(100vw - 60px - 50px - 50px); // Ширина окна - отступы inner-wrapper - ширина стрелок - отступ от стрелок
    }
    @media (max-width: 450px) {
      width: calc(100vw - 60px); // Ширина окна - отступы inner-wrapper
    }
  }

  // Свайпер с услугами (странциа Услуги)
  &.servicesSwiper2 {
    margin: 0 auto;
    width: calc(100vw - 240px - 90px - 50px); // Ширина окна - отступы inner-wrapper - ширина стрелок - отступ от стрелок
    max-width: calc(1272px - 90px - 50px); // Ширина на странице с учетом ширины стрелок навигации + отступ от стрелок
    box-sizing: border-box;
    @media (max-width: 700px) {
      padding-left: 0;
      width: calc(100vw - 120px - 90px - 50px); // Ширина окна - отступы inner-wrapper - ширина стрелок - отступ от стрелок
    }
    @media (max-width: 600px) {
      width: calc(100vw - 120px - 50px - 50px); // Ширина окна - отступы inner-wrapper - ширина стрелок - отступ от стрелок
    }
    @media (max-width: 500px) {
      width: calc(100vw - 60px - 50px - 50px); // Ширина окна - отступы inner-wrapper - ширина стрелок - отступ от стрелок
    }
    @media (max-width: 450px) {
      width: calc(100vw - 60px); // Ширина окна - отступы inner-wrapper
    }
  }

  // Свайпер с операционными блоками (странциа Операционные блоки)
  &.operationalBlocksSwiper {
    width: calc(100vw - 240px);
    max-width: 1268px;
    margin-bottom: 33px;
    @media (max-width: 700px) {
      width: calc(100vw - 120px);
    }
    @media (max-width: 500px) {
      width: calc(100vw - 60px);
    }
  }
  &.operationalBlocksSwiper-mini {
    width: calc(100vw - 240px);
    max-width: 1268px;
    @media (max-width: 700px) {
      width: calc(100vw - 120px);
    }
    @media (max-width: 500px) {
      width: calc(100vw - 60px);
    }

    .swiper-slide {
      height: 79px !important;
      object-fit: cover;
      filter: grayscale(100%);
      opacity: 0.4;
      transition: all 0.4s ease;
    }
    .swiper-slide-thumb-active {
      filter: grayscale(0%);
      opacity: 1;
      transition: all 0.4s ease;
    }
  }
}

.swiper-pagination-current {
  display: flex;
  align-items: center;
  height: 30px !important;
  color: $main-text-2;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
.swiper-pagination-total {
  display: flex;
  align-items: center;
  height: 30px !important;
  color: $inactive-text-3;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.swiper-scrollbar-horizontal {
  height: 2px !important;
  width: 70px !important;
  border-radius: 0 !important;
  background-color: $pagination-bg-1 !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: $main-bg-3 !important;
}

// Стили для Слайдера Текста
.mainSwiper-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 200px;
  max-width: 100%;
}
