.swiper {
  min-width: 320px;
  max-width: 1512px;
  // width: 98.5vw;
  width: 100vw;
}

.swiper-pagination-current {
  display: flex;
  align-items: center;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
.swiper-pagination-total {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.63);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.swiper-scrollbar {
  height: 2px !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.21) !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 1) !important;
}
