.swiper {
  max-width: 1512px;

  // Главный свайпер (главная странциа)
  &.mainSwiper {
    width: 100vw;
  }
  &.mainSwiper-tag {
    width: 100%;
    max-height: 100%;
  }
  &.mainSwiper-title {
    max-height: 100%;
  }
  &.mainSwiper-description {
    max-height: 100%;
  }

  // Свайпер с услугами (главная странциа)
  &.servicesSwiper {
    padding-left: 144px;
    width: calc(100vw - 144px);
    max-width: 1368px;
    box-sizing: border-box;
    @media (max-width: 700px) {
      padding-left: 0;
      width: calc(100vw - 60px);
    }
    @media (max-width: 500px) {
      width: calc(100vw - 30px);
    }
  }

  // Свайпер с услугами (странциа Услуги)
  &.servicesSwiper2 {
    padding-left: 144px;
    width: calc(100vw - 144px);
    max-width: 1368px;
    box-sizing: border-box;
    @media (max-width: 700px) {
      padding-left: 0;
      width: calc(100vw - 60px);
    }
    @media (max-width: 500px) {
      width: calc(100vw - 30px);
    }
  }

  // Свайпер с операционными блоками (странциа Операционные блоки)
  &.operationalBlocksSwiper {
    width: calc(100vw - 144px);
    max-width: 1268px;
    margin-bottom: 33px;
    @media (max-width: 700px) {
      width: calc(100vw - 60px);
    }
    @media (max-width: 500px) {
      width: calc(100vw - 30px);
    }
  }
  &.operationalBlocksSwiper-mini {
    width: calc(100vw - 144px);
    max-width: 1268px;
    @media (max-width: 700px) {
      width: calc(100vw - 60px);
    }
    @media (max-width: 500px) {
      width: calc(100vw - 30px);
    }

    .swiper-slide {
      // width: 75px !important;
      height: 79px !important;
      object-fit: cover;
      filter: grayscale(100%);
      opacity: 0.4;
      transition: all 0.4s ease;
    }
    .swiper-slide-thumb-active {
      filter: grayscale(0%);
      opacity: 1;
      transition: all 0.4s ease;
    }
  }
}

.swiper-pagination-current {
  display: flex;
  align-items: center;
  height: 30px !important;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
.swiper-pagination-total {
  display: flex;
  align-items: center;
  height: 30px !important;
  color: rgba(255, 255, 255, 0.63);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.swiper-scrollbar-horizontal {
  height: 2px !important;
  width: 70px !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.21) !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 1) !important;
}

// Стили для Слайдера Текста
.mainSwiper-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 200px;
  max-width: 100%;
}
