.swiper {
  min-width: 320px;
  max-width: 1512px;

  &.mySwiper {
    width: 100vw;
  }
  &.mySwiper2 {
    padding-left: 144px;
    width: 100vw;
    box-sizing: border-box;
  }
}

.swiper-pagination-current {
  display: flex;
  align-items: center;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}
.swiper-pagination-total {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.63);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.swiper-scrollbar-horizontal {
  height: 2px !important;
  width: 70px !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.21) !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 1) !important;
}

// Стили для Слайдера Текста
.mySwiper2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  background-color: red;
  z-index: 25;

  .swiper-slide {
  }
  .slide__subtitle {
    max-width: 60%;
  }
}
